 {% extends 'base.html.twig' %}

     {% block title %}
         Log in!
     {% endblock %}
     
     {% block body %}

         <main>

             <form method="post">

                 {# *** Partie: Authentification sécurité *** #}

                 {% if error %}

                     <div class="alert alert-danger">
                         {{ error.messageKey|trans(error.messageData, 'security') }}
                     </div>

                 {% endif %}
                 
                 {% if app.user %}

                     <div class="mb-3">
                         Vous etes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}"> Se déconnecter </a>
                     </div>

                 {% endif %}
                 
                 {# *** Conteneur du formulaire *** #}

                 <div id="bloc_page" class="py-5 text-center col-12">
                 
                     <h1 class="h3 mb-3 font-weight-normal"> Formulaire de connection </h1>
 
                         <label for="inputLogin"> Pseudo </label>
                         <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                        
                         <label for="inputPassword"> Mot de passe </label>
                         <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                 
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                 
                         <div class="checkbox mb-3">
                         
                             <label>
                                 <input type="checkbox" name="_remember_me">
                                 Se souvenir de moi
                             </label>
                        
                         </div>

                     {#
                             Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                             See https://symfony.com/doc/current/security/remember_me.html                 
                     #}

                     {# *** Conteneur des boutons *** #}

                     <div class="btn-group-vertical col-12">

                         <button type="submit" class="btn btn-dark btn-lg px-4 gap-3"> 
                             {# <a href="{{ path('home') }}"> Se connecter </a>  #}
                             Se connecter 
                         </button>

                         <button href="{{ path('app_register') }}" type="submit" class="btn btn-success btn-lg px-4">                                
                             S'inscrire
                         </button>
 
                     </div>

                     {# ******************** #}

                 </div>  

             </form>

         <main>

     {% endblock %}
