 {# ? Feuille du bouton Delete #}
 
 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Formulaire de connection  "
     {% endblock %}

     {% block title %}
         Formulaire de connection 
     {% endblock %}
     
     {% block body %}

         <main class="Form">

             <div  class="py-5 text-center col-12">  

                 <form method="post">

                     {# *********************************************** #}

                     {# ! J'ai masquer l'affichage du message d'authentification. JC_ #}

                     <div style="display:none">

                         {% if error %}

                             <div class="alert alert-danger">
                                 {{ error.messageKey|trans(error.messageData, 'security') }}
                             </div>

                         {% endif %}
                         
                         {% if app.user %}

                             <div class="mb-3">
                                 Vous etes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}"> Se déconnecter </a>
                             </div>

                         {% endif %}

                     </div>            

                     {# *********************************************** #}

                     <article  class="py-5 text-center col-12">
                      
                         {# *********************************************** #}

                         <section class="text-center">

                             <h1 class="mb-3 font-weight-normal"> Formulaire de connection  </h1>

                             <hr style="color:white;"/>

                             <p class="lead"> 
                                 Déjà de retour! Merci de vous identifiez 🔏
                             </p>

                             <hr style="color:white;"/>

                         </section>      

                         {# *********************************************** #}

                         <label for="inputLogin"> Pseudo </label>
                         <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" autocomplete="username" required autofocus>
                        
                         <label for="inputPassword"> Mot de passe </label>
                         <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                 
                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                 
                         {# *********************************************** #}

                         <section class="checkbox mb-3">

                         <hr style="color:white;"/>

                             <label>
                                 <input type="checkbox" name="_remember_me">
                                 Se souvenir de moi
                             </label>
                       
                         <hr style="color:white;"/>

                         </section>

                         {# *********************************************** #}

                         {#
                                 Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                 See https://symfony.com/doc/current/security/remember_me.html                 
                         #}

                         {# *********************************************** #}

                         <section class="btn-group-vertical col-12">

                             <button type="submit" class="btn btn-dark btn-lg px-4 gap-3"> 
                                 Se connecter 
                             </button>

                             <a type="submit" href="{{ path('app_register') }}" class="btn btn-success btn-lg px-4 gap-3">                                 
                                 S'inscrire
                             </a>
                          
                         </section>

                         {# *********************************************** #}

                     </article>


                     </div>  

                 </form>

             </div>    

         <main>

     {% endblock %}

    
