 {# ? Feuille : Gestion des ingrédients #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Gestion des ingrédients "
     {% endblock %}

     {% block title %}
         Gestion des ingrédients
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>
    
                     <h1> Gestion des ingrédients </h1>
               
                         <hr/>

                             <p> 
                                 <em> Consulter la liste des ingrédients de votre site et les administrer. </em>  🍒
                             </p>

                         <hr/>

                 </section>
     
                 {# *********************************************** #}   

                 <article>

                     <table class="table table-dark table-hover">

                         <thead>

                             <tr>
                                 <th> Id </th>
                                 <th> Nom </th>
                                 <th> Auteur </th>
                                 <th> Actions </th>
                             </tr>

                         </thead>

                         <tbody>

                             {% for ingredient in ingredients %}

                                 <tr>
                                     <td> {{ ingredient.id }} </td>
                                     <td> {{ ingredient.name }} </td>
                                     {% if ingredient.authorId %}
                                     <td> {{ ingredient.authorId.login}} </td>
                                     {% else %}
                                     <td> pas d'auteur </td>
                                     {% endif %}
                                     <td>
  
                                         <section class="btn-group">

                                             <a href="{{ path('administration_ingredients_show', {'id': ingredient.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                                 Voir 
                                             </a>

                                             <a href="{{ path('administration_ingredients_edit', {'id': ingredient.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                                 Modifier
                                             </a>
                                   
                                         </section>
                                   
                                     </td>



                                 </tr>

                             {% else %}

                                 <tr>
                                     <td colspan="3"> Aucun élément ne correspond à votre recherche </td>
                                 </tr>
                                 
                             {% endfor %}

                         </tbody>

                     </table>
     
                     {# *********************************************** #}

                     <hr/>

                     <section class="btn-group-vertical col-12 ">

                         <a href="{{ path('administration_ingredients_new') }}" class="btn btn-dark col-12 btn-lg px-4 gap-3"> 
                             Créer un nouvel ingrédient
                         </a>
    
                         <a href="{{ path('interface_administration') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">
                             Retour à l'interface d'administration
                         </a>    

                     </section>    

                     {# *********************************************** #} 

                 </article>

             </div>    

         </main>  

     {% endblock %}
     