 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Inscription "
     {% endblock %}

     {% block title %} 
         Inscription
     {% endblock %}
    
     {% block body %}

         <div id="body" class="text-center"> 
    
             <div class="container">

                 <main class="col-9">

                     {{ form_start (registrationForm, 
                         { 'attr':
                             {
                                 'class':'needs-validation',
                                 'novalidate':''
                             }
                         })
                     }}
    
                     {# *** Conteneur du titre du formulaire *** #}
                     <div class="py-5 text-center">

                         {# *** Image du formulaire *** #}
                         {# <img class="d-block mx-auto mb-4" src="/logoGrand.webp" alt="Logo du site" width="72" height="57"> #}

                         {# *** Titre du formulaire *** #}
                         <h1> Formulaire d'Inscription </h2>

                         {# *** Phrase d'accroche du formulaire *** #}
                         <p class="lead"> 
                           Inscrivez-vous gratuitement pour créer un compte et accéder au contenu du site. 
                         </p>
                       
                     </div>
 
                     {# * Conteneur du champ titre * #}
                     <div class="col-12">

                         <h4 class="mb-3"> Votre profil </h4>

                     <div class="row g-3">
 
                             {# **************************************************************** #}
                             {# **************************** LOGIN ***************************** #}
                             {# **************************************************************** #}

                                 <div class="col-12">   
                                       
                                     {# *** LABEL *** #}
                                     {{form_label (registrationForm.login, 'Pseudo' ) }}

                                     <div class="input-group has-validation">

                                         <span class="input-group-text"> @ </span>
 
                                         {# *** INPUT *** #}
                                         {{form_widget
                                             (registrationForm.login,
                                                 {
                                                     'attr': {'placeholder':'Entrez votre pseudo',
                                                     'class':'form-control',
                                                     }
                                                 }
                                             ) 
                                         }}
                                    
                                         <div class="invalid-feedback">
                                             Le champ pseudo est requis.
                                             {{form_errors(registrationForm.login)}}
                                         </div>

                                     </div>
                                             
                                     <span class="text-danger"> 
                                         {{form_errors(registrationForm.login)}}
                                     </span>
                                             
                                 </div>          
                             
                             {# **************************************************************** #}
                             {# **************************** EMAIL ***************************** #}
                             {# **************************************************************** #}

                                 <div class="col-sm-6">
                                        
                                     {# *** LABEL *** #}
                                     {{form_label (registrationForm.email.first, 'Adresse électronique' ) }}

                                     {# *** INPUT *** #}
                                     {{form_widget
                                         (registrationForm.email.first,
                                             {
                                                 'attr': {'placeholder':'Entrez votre adresse électronique',
                                                 'class':'form-control',
                                                 }
                                             }
                                         ) 
                                     }}
                                                      
                                     {# *** IF ERROR *** #}
                                         <div class="invalid-feedback">
                                             Le champ email est requis.
                                             {{form_errors(registrationForm.email.first)}}
                                         </div>
    
                                         <span class="text-danger">
                                             {{ form_errors (registrationForm.email.first) }} 
                                         </span>
                                
                                 </div>
    
                             {# **************************************************************** #}
                             {# ******************* CHAMP EMAIL CONFIRMATION ******************* #}
                             {# **************************************************************** #}  

                                 <div class="col-sm-6">
                                        
                                     {# *** LABEL *** #}
                                     {{form_label (registrationForm.email.second, 'Confirmer votre email' ) }}

                                     {# *** INPUT *** #}
                                     {{form_widget (registrationForm.email.second,
                                             {
                                                 'attr': {'placeholder':'Confirmer votre adresse électronique',
                                                 'class':'form-control',
                                                 }
                                             }
                                         ) 
                                     }}

                                     {# *** IF ERROR *** #}
                                     <div class="invalid-feedback">
                                       Le champ Email est requis.
                                       {{form_errors(registrationForm.email.second)}}
                                     </div>

                                     <span class="text-danger">
                                         {{ form_errors (registrationForm.email.second) }} 
                                     </span>
                                                
                                 </div>

                             {# **************************************************************** #}
                             {# **************************** PASSWORD ************************** #}
                             {# **************************************************************** #}

                                 <div class="col-sm-6">
                                    
                                     {# *** LABEL *** #}
                                     {{ form_label (registrationForm.plainPassword.first, { label: 'Password' }) }}
                                
                                     {# *** INPUT *** #}
                                     {{form_widget
                                         (registrationForm.plainPassword.first,
                                             {
                                                 'attr': {'placeholder':'Entrez votre mot de passe',
                                                 'class':'form-control',
                                                 }
                                             }
                                         ) 
                                     }}

                                     {# *** IF ERROR *** #}
                                     <div class="invalid-feedback">
                                       Le champ mot de passe est requis.
                                       {{form_errors(registrationForm.plainPassword.first)}}
                                     </div>

                                     <span class="text-danger"> 
                                         {{ form_errors (registrationForm.plainPassword.first) }} 
                                     </span>
                                                         
                                 </div>

                             {# **************************************************************** #}
                             {# ******************* PASSWORD CONFIRMATION ********************** #}
                             {# **************************************************************** #}
                               
                                 <div class="col-sm-6">
                                    
                                     {# *** LABEL *** #}
                                     {{form_label (registrationForm.plainPassword.second, 'Confirmer votre mot de passe' ) }}

                                     {# *** INPUT *** #}
                                     {{form_widget
                                         (registrationForm.plainPassword.second,
                                             {
                                                 'attr': {'placeholder':'Confirmer votre mot de passe',
                                                 'class':'form-control',
                                                 }
                                             }
                                         ) 
                                     }}

                                     {# *** IF ERROR *** #}
                                     <div class="invalid-feedback">
                                         Le champ confirmer votre mot de passe est requis.
                                         {{form_errors(registrationForm.plainPassword.second)}}
                                     </div>

                                     <span class="text-danger"> 
                                         {{ form_errors (registrationForm.plainPassword.second) }} 
                                     </span>
                                                       
                                 </div>

                             {# **************************************************************** #}
                             {# **************************** AVATAR **************************** #}
                             {# **************************************************************** #}
     
                                 {{form_label(registrationForm.avatar, ' Photo de profil')}}

                                     {{form_widget
                                         (registrationForm.avatar,
                                             {
                                                 'attr': { 'class':'form-control', }
                                             }
                                         ) 
                                     }}
                                     
                                  <hr class="my-4">
    
                             {# **************************************************************** #}
                             {# **************************** C.G.U. **************************** #}
                             {# **************************************************************** #}
        
                                 <div class="col-12">

                                     {# *** LABEL *** #}
                                     {{form_label(registrationForm.agreeTerms, 'Veuillez accepter nos conditions :')}}

                                     {# *** INPUT *** #}
                                     {{form_widget
                                         (registrationForm.agreeTerms,
                                             {
                                                 'attr':
                                                     {
                                                      'class':'form-check-input',
                                                     }
                                             }
                                         ) 
                                     }}

                                     {# *** If Errors *** #}
                                     <div class="invalid-feedback">
                                         Le champ validation des conditions est requis.
                                         {{form_errors(registrationForm.agreeTerms)}}
                                     </div>

                                     <span class="text-danger">
                                         {{form_errors(registrationForm.agreeTerms)}}
                                     </span>
                                                 
                                 </div>

                             {# *** Bouton: Se Connecter *** #}
                             <button type="submit" class="btn"> 
                                 S'inscrire 
                             </button>
        
                         {{ form_end(registrationForm) }}

                     </div> 

                 </main>

             </div>           
    
         </div>           
    
     {% endblock %}
