 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Inscription "
     {% endblock %}

     {% block title %} 
         Inscription
     {% endblock %}
    
     {% block body %}
 
             <main class="Form">

                 {{ form_start (registrationForm, 
                     { 'attr':
                         {
                             'class':'needs-validation',
                             'novalidate':''
                         }
                     })
                 }}   

                     <form>     

                             <div  class="py-5 text-center col-12">

                                 {# **************************** Partie: Titre ***************************** #}

                                 <section>

                                     <h1 class="plantFont" class="mb-3 font-weight-normal"> 
                                         Formulaire d'inscription 
                                     </h1>
                  
                                     <hr style="color:white;"/>

                                     <p class="lead"> 
                                         <em> Inscrivez-vous gratuitement pour créer un compte et accéder à tout le contenu du site. </em> ✍️
                                     </p>

                                     <hr style="color:white;"/>
                                   
                                 </section>                     

                                 <article id="inscriptionForm" class="text-center">

                                     <div class="row">
                                     
                                         {# **************************** LOGIN ***************************** #}

                                             <div class="col-12 col-xl-6">   
                                                   
                                                 {# *** LABEL *** #}
                                                 {{form_label
                                                     (registrationForm.login, 
                                                         'Pseudo'
                                                     ) 
                                                 }}

                                                 <div class="input-group has-validation">

                                                     <span class="input-group-text"> <i class="bi bi-person-circle"></i> </span>
 
                                                     {# *** INPUT *** #}
                                                     {{form_widget
                                                         (registrationForm.login,
                                                             { 'attr': 
                                                                 {
                                                                     'placeholder':'Entrez votre pseudo',
                                                                     'class':'form-control',
                                                                 }
                                                             }
                                                         ) 
                                                     }}
                                                
                                                     <div class="invalid-feedback">
                                                         Le champ pseudo est requis.
                                                         {{form_errors(registrationForm.login)}}
                                                     </div>

                                                 </div>
                                                         
                                                 <span class="text-danger"> 
                                                     {{form_errors(registrationForm.login)}}
                                                 </span>
                                                         
                                             </div> 

                                         {# **************************** AVATAR **************************** #}

                                             <div class="col-12 col-xl-6">  

                                                 {{form_label(registrationForm.avatar, ' Photo de profil')}}

                                                     {{form_widget
                                                         (registrationForm.avatar,
                                                             {
                                                                 'attr': { 'class':'form-control', }
                                                             }
                                                         ) 
                                                     }}
                                                     
                                                  {# <hr class="my-4"> #}

                                             </div> 

                                     </div>      

                                     <div class="row">

                                         {# **************************** EMAIL ***************************** #}

                                             <div class="col-sm-6">
                                                    
                                                 {# *** LABEL *** #}
                                                 {{form_label (registrationForm.email.first, 'Adresse email' ) }}

                                                 <div class="input-group has-validation">

                                                     <span class="input-group-text"> @ </span>

                                                     {# *** INPUT *** #}
                                                     {{form_widget
                                                         (registrationForm.email.first,
                                                             {
                                                                 'attr': {'placeholder':'Entrez votre adresse email',
                                                                 'class':'form-control',
                                                                 }
                                                             }
                                                         ) 
                                                     }}
                                                                  
                                                     {# *** IF ERROR *** #}
                                                     <div class="invalid-feedback">
                                                         Le champ email est requis.
                                                         {{form_errors(registrationForm.email.first)}}
                                                     </div>
    
                                                 </div>

                                                 <span class="text-danger">
                                                     {{ form_errors (registrationForm.email.first) }} 
                                                 </span>
                                                                                 
                                             </div>

                                         {# *********************** EMAIL CONFIRMATION  ******************** #}

                                             <div class="col-sm-6">
                                                    
                                                 {# *** LABEL *** #}
                                                 {{form_label (registrationForm.email.second, 'Confirmer votre email' ) }}

                                                 <div class="input-group has-validation">

                                                     <span class="input-group-text"> @ </span>

                                                     {# *** INPUT *** #}
                                                     {{form_widget (registrationForm.email.second,
                                                             {
                                                                 'attr': {'placeholder':'Confirmer votre adresse email',
                                                                 'class':'form-control',
                                                                 }
                                                             }
                                                         ) 
                                                     }}
    
                                                     {# *** IF ERROR *** #}
                                                     <div class="invalid-feedback">
                                                       Le champ Email est requis.
                                                       {{form_errors(registrationForm.email.second)}}
                                                     </div>
    
                                                 </div>

                                                 <span class="text-danger">
                                                     {{ form_errors (registrationForm.email.second) }} 
                                                 </span>
                                                                                                                           
                                             </div>

                                     </div>

                                         {# **************************** PASSWORD ************************** #}

                                     <div class="row"> 

                                             <div class="col-sm-6">
                                                
                                                 {# *** LABEL *** #}
                                                 {{form_label (registrationForm.plainPassword.first, 'Mot de passe' ) }}
                                                 {# {{ form_label (registrationForm.plainPassword.first, { label: 'Password' } )}} #}
                                            
                                                 <div class="input-group has-validation">

                                                     <span class="input-group-text"> <i class="bi bi-key"></i> </span>

                                                     {# *** INPUT *** #}
                                                     {{form_widget
                                                         (registrationForm.plainPassword.first,
                                                             {'attr':
                                                                 {
                                                                     'placeholder':'Entrez votre mot de passe',
                                                                     'class':'form-control',
                                                                 }
                                                             }
                                                         ) 
                                                     }}

                                                     {# *** IF ERROR *** #}
                                                     <div class="invalid-feedback">
                                                       Le champ mot de passe est requis.
                                                       {{form_errors(registrationForm.plainPassword.first)}}
                                                     </div>

                                                 </div>
 
                                                 <span class="text-danger"> 
                                                     {{ form_errors (registrationForm.plainPassword.first) }} 
                                                 </span>
                                                                     
                                             </div>

                                         {# ******************* PASSWORD CONFIRMATION ********************** #}

                                             <div class="col-sm-6">
                                                
                                                 {# *** LABEL *** #}
                                                 {{form_label (registrationForm.plainPassword.second, 'Confirmer votre mot de passe' ) }}
                                                 {# {{form_label (registrationForm.plainPassword.second, 'Confirmer votre mot de passe' ) }} #}

                                                 <div class="input-group has-validation">

                                                     <span class="input-group-text"> <i class="bi bi-key"></i> </span>

                                                     {# *** INPUT *** #}
                                                     {{form_widget
                                                         (registrationForm.plainPassword.second,
                                                             {
                                                                 'attr': {'placeholder':'Confirmer votre mot de passe',
                                                                 'class':'form-control',
                                                                 }
                                                             }
                                                         ) 
                                                     }}

                                                     {# *** IF ERROR *** #}
                                                     <div class="invalid-feedback">
                                                         Le champ confirmer votre mot de passe est requis.
                                                         {{form_errors(registrationForm.plainPassword.second)}}
                                                     </div>

                                                 </div>

                                                 <span class="text-danger"> 
                                                     {{ form_errors (registrationForm.plainPassword.second) }} 
                                                 </span>
                                                                                                   
                                             </div>
 
                                         {# **************************** C.G.U. **************************** #}
                                        
                                             {# <hr class="my-4" style="color:rgba(25,135,84,0.9);"/> #}
                                             <hr class="my-4" style="color:white;"/>

                                             <article class="col-12 mx-auto ">

                                                 {# *** LABEL *** #}
                                                 <section class="text-center">{{form_label(registrationForm.agreeTerms, 'Veuillez accepter nos conditions :')}}

                                                     {# *** INPUT *** #}
                                                     {{form_widget
                                                         (registrationForm.agreeTerms,
                                                             {
                                                                 'attr':
                                                                     {
                                                                      'class':'form-check-input',
                                                                     }
                                                             }
                                                         ) 
                                                     }}
                                                     </div>

                                                     {# *** If Errors *** #}
                                                     <div class="invalid-feedback">
                                                         Le champ validation des conditions est requis.
                                                         {{form_errors(registrationForm.agreeTerms)}}
                                                     </div>

                                                     <span class="text-danger">
                                                         {{form_errors(registrationForm.agreeTerms)}}
                                                     </span>
                                                                 
                                                 </section>
 
                                                 {# **************************** ACTION ***************************** #}

                                                 <hr style="color:white;"/>

                                                 <section class="btn-group-vertical col-12 ">

                                                     {# *** Bouton: S'inscrire *** #}
                                                     <button type="submit" class="btn btn-dark btn-lg">                                
                                                         Valider le formulaire
                                                     </button>            
                       
                                                     {# *** Bouton: Se Connecter *** #}
                                                     <a type="submit" href="{{ path('app_login') }}" class="btn btn-success btn-lg">                                
                                                         Se connecter  
                                                     </a>   

                                                 </section>

                                                 {# <hr class="my-4" style="color:rgba(25,135,84,0.9);"/> #}

                                                 {# ********************************************************* #}

                                             </article>

                                     </div>

                                 </article> 

                             </div> 

                 {{ form_end(registrationForm) }}
                    
                     </form>

             </main>

     {% endblock %}