 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Inscription "
     {% endblock %}

     {% block title %} 
         Inscription
     {% endblock %}
    
     {% block body %}
 
             <main>


                     <form>    

                         <div id="inscriptionForm" class="col-11"> 

                             {# ************************* #}                


                         <div class="Form">                 

                             <section class="text-center">

                                 <h1 class="plantFont" class="h1 mb-3 font-weight-normal"> Formulaire d'inscription </h1>
                  
                                 <p class="lead"> 
                                     <em> Inscrivez-vous gratuitement pour créer un compte et accéder à tout le contenu du site. </em> 
                                 </p>
                               
                             </section>                     

                             <article id="inscriptionForm" class="text-center">

                                 <div class="row">
                                 
                                         {# **************************** LOGIN ***************************** #}

                                         <div class="col-12 col-xl-6">   
                                               
                                             {# *** LABEL *** #}
                                             {{form_label
                                                 (registrationForm.login, 
                                                     'Pseudo'
                                                 ) 
                                             }}


                                         <div class="input-group has-validation">

                                             <span class="input-group-text"> <i class="bi bi-person-circle"></i> </span>
 
                                             {# *** INPUT *** #}
                                             {{form_widget
                                                 (registrationForm.login,
                                                     { 'attr': 
                                                         {
                                                             'placeholder':'Entrez votre pseudo',
                                                             'class':'form-control',
                                                         }
                                                     }
                                                 ) 
                                             }}
                                        
                                             <div class="invalid-feedback">
                                                 Le champ pseudo est requis.
                                                 {{form_errors(registrationForm.login)}}
                                             </div>


                                         {# **************************** AVATAR **************************** #}


                                     {# ************************* #}
                                     {# ******** AVATAR ********* #}
                                     {# ************************* #}

                                     <div class="col-12 col-xl-6">  

                                         {{form_label(registrationForm.avatar, ' Photo de profil')}}

                                             {{form_widget
                                                 (registrationForm.avatar,
                                                     {
                                                         'attr': { 'class':'form-control', }
                                                     }
                                                 ) 
                                             }}

                                     </div> 

                                 </div>      


                                 <div class="row">

                                         {# **************************** EMAIL ***************************** #}


                                     <div class="col-sm-6">
                                            
                                         {# *** LABEL *** #}
                                         {{form_label (registrationForm.email.first, 'Adresse email' ) }}

                                         <div class="input-group has-validation">

                                             <span class="input-group-text"> @ </span>

                                             {# *** INPUT *** #}
                                             {{form_widget
                                                 (registrationForm.email.first,
                                                     {
                                                         'attr': {'placeholder':'Entrez votre adresse email',
                                                         'class':'form-control',
                                                         }
                                                     }
                                                 ) 
                                             }}
                                                          
                                             {# *** IF ERROR *** #}
                                             <div class="invalid-feedback">
                                                 Le champ email est requis.
                                                 {{form_errors(registrationForm.email.first)}}
                                             </div>
    
                                         </div>


                                         {# *********************** EMAIL CONFIRMATION  ******************** #}


                                     {# ** EMAIL CONFIRMATION *** #}
 
                                     <div class="col-sm-6">
                                            
                                         {# *** LABEL *** #}
                                         {{form_label (registrationForm.email.second, 'Confirmer votre email' ) }}

                                         <div class="input-group has-validation">

                                             <span class="input-group-text"> @ </span>

                                             {# *** INPUT *** #}
                                             {{form_widget (registrationForm.email.second,
                                                     {
                                                         'attr': {'placeholder':'Confirmer votre adresse email',
                                                         'class':'form-control',
                                                         }
                                                     }
                                                 ) 
                                             }}
    
                                             {# *** IF ERROR *** #}
                                             <div class="invalid-feedback">
                                               Le champ Email est requis.
                                               {{form_errors(registrationForm.email.second)}}
                                             </div>
    
                                         </div>


                                 </div>

                                         {# **************************** PASSWORD ************************** #}

                                 <div class="row"> 


                                 {# ************************* #}
                                 {# ******* PASSWORD ******** #}
                                 {# ************************* #}

                                 <div class="row"> 

                                     <div class="col-sm-6">
                                        
                                         {# *** LABEL *** #}
                                         {{form_label (registrationForm.plainPassword.first, 'Mot de passe' ) }}
                                    
                                         <div class="input-group has-validation">

                                             <span class="input-group-text"> <i class="bi bi-key"></i> </span>

                                             {# *** INPUT *** #}
                                             {{form_widget
                                                 (registrationForm.plainPassword.first,
                                                     {'attr':
                                                         {
                                                             'placeholder':'Entrez votre mot de passe',
                                                             'class':'form-control',
                                                         }
                                                     }
                                                 ) 
                                             }}

                                             {# *** IF ERROR *** #}
                                             <div class="invalid-feedback">
                                               Le champ mot de passe est requis.
                                               {{form_errors(registrationForm.plainPassword.first)}}
                                             </div>

                                         </div>
 
                                         <span class="text-danger"> 
                                             {{ form_errors (registrationForm.plainPassword.first) }} 
                                         </span>
                                                             
                                     </div>


                                         {# ******************* PASSWORD CONFIRMATION ********************** #}


                                     <div class="col-sm-6">
                                        
                                         {# *** LABEL *** #}
                                         {{form_label (registrationForm.plainPassword.second, 'Confirmer votre mot de passe' ) }}

                                         <div class="input-group has-validation">

                                             <span class="input-group-text"> <i class="bi bi-key"></i> </span>

                                             {# *** INPUT *** #}
                                             {{form_widget
                                                 (registrationForm.plainPassword.second,
                                                     {
                                                         'attr': {'placeholder':'Confirmer votre mot de passe',
                                                         'class':'form-control',
                                                         }
                                                     }
                                                 ) 
                                             }}

                                             {# *** IF ERROR *** #}
                                             <div class="invalid-feedback">
                                                 Le champ confirmer votre mot de passe est requis.
                                                 {{form_errors(registrationForm.plainPassword.second)}}
                                             </div>

                                         </div>

                                         <span class="text-danger"> 
                                             {{ form_errors (registrationForm.plainPassword.second) }} 
                                         </span>
                                                                                               

                                         </div>
 
                                         {# **************************** C.G.U. **************************** #}
                                    
                                         <hr class="my-4" style="color:rgba(25,135,84,0.9);"/>

                                         <article class="col-12 mx-auto ">

                                             {# *** LABEL *** #}
                                             <section class="text-center">{{form_label(registrationForm.agreeTerms, 'Veuillez accepter nos conditions :')}}

                                                 {# *** INPUT *** #}
                                                 {{form_widget
                                                     (registrationForm.agreeTerms,
                                                         {
                                                             'attr':
                                                                 {
                                                                  'class':'form-check-input',
                                                                 }
                                                         }
                                                     ) 
                                                 }}
                                                 </div>

                                                 {# *** If Errors *** #}
                                                 <div class="invalid-feedback">
                                                     Le champ validation des conditions est requis.
                                                     {{form_errors(registrationForm.agreeTerms)}}
                                                 </div>

                                                 <span class="text-danger">
                                                     {{form_errors(registrationForm.agreeTerms)}}
                                                 </span>
                                                             
                                             </section>
 
                                             <hr class="my-4" style="color:rgba(25,135,84,0.9);"/>

                                             {# **************************** ACTION ***************************** #}

                                             <section class="btn-group-vertical col-12 ">

                                                 {# *** Bouton: S'inscrire *** #}
                                                 <button type="submit" class="btn btn-dark btn-lg">                                
                                                     Valider le formulaire
                                                 </button>            
                       
                                                 {# *** Bouton: Se Connecter *** #}
                                                 <a type="submit" href="{{ path('app_login') }}" class="btn btn-success btn-lg">                                
                                                     Se connecter  
                                                 </a>   

                                             </section>

                                         </article>


                                         {# *** Bouton: Se Connecter *** #}
                                         <button href="{{ path('app_login') }}" type="submit" class="btn btn-dark btn-lg px-4">                                
                                             Se connecter 
                                         </button>  


                             </article> 

                         </div>


                                     </div>

                                 </div> 


                             </div> 

                         </div>        

                 {{ form_end(registrationForm) }}
 
                 </form>

             </main>

         </body>

     {% endblock %}
