 {# ? Partie: Header #}
 
         <div class="container">

             <header class="d-flex flex-wrap align-items-center justify-content-md-between mb-4">

                 <div class="" >
                 {# <div class="pb-3 mb-0 small lh-sm border-bottom w-100" > #}

                     {% if app.user %}

                         {# <div class="" style="display:flex; justify-content:space-around;"> #}

                         {# *********************************** #}
                         {# * Gestion de l'utilisateur actuel * #}
                         {# *********************************** #}

                         {# <div class="dropdown"> #}
                         {# {% if user.avatar %} #}

                             {# <div class="d-flex justify-content-between"> #}
                                                    
                                 {# <strong class="text-gray-dark">
                                     Full Name                                                
                                     {% if app.user.login %}
                                     @ {{app.user.username}} 
                                     {% else %}
                                     Bienvenue
                                         <i class="bi bi-caret-down"></i>
                                     {% endif %}
                                 </strong> #}

                             {# </div> #}
                 
                             {# <div class="mb-3">
                                 <p> Vous etes connecté en tant que {{ app.user.username }}, </p>
                                 <a href="{{ path('app_logout') }}"> Se déconnecter </a>
                             </div> #}

                             {# ? Possiblité de rajouter un pseudo en plus éventuellement en dessous du nom classique #}
                             {# <span class="d-block">
                                 @{{app.user.login}}                                         
                             </span> #}

                         {# </div>  #}

                         <div class="dropdown">
                         {# {% if user.avatar %} #}

                             {# <div class="d-flex justify-content-between"> #}

                                 <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

                                     {# <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> #}
                                     <img src="{{app.user.avatar}} " alt="" width="32" height="32" class="rounded-circle me-2">  

                                     <strong> 
                                         {# Full Name #}                                                
                                         {% if app.user.login %}
                                         @ {{app.user.username}} 
                                         {% else %}
                                         Bienvenue
                                             <i class="bi bi-caret-down"></i>
                                         {% endif %}
                                     </strong>

                                 </a>

                                 <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                     <li> <a class="dropdown-item" href="#"> Créer une nouvelle recette </a> </li>
                                     <li> <a class="dropdown-item" href="#"> Gérer mes recettes </a> </li>
                                     {# <li> <a class="dropdown-item" href="#"> Noter des recettes </a> </li> #}
                                     {# <li> <a class="dropdown-item" href="#"> Créer un ingrédients </a> </li> #}
                                     <li> <hr class="dropdown-divider">   </li>
                                         <li> <a class="dropdown-item" href="#"> Gérer mon profil </a></li>
                                         <li> <a class="dropdown-item" href="#"> Gérer mes commentaires </a></li>
                                         <li> <a class="dropdown-item" href="#"> Paramètres </a></li>
                                     <li> <hr class="dropdown-divider">   </li>
                                     <li> <a class="dropdown-item" href="{{ path ('app_logout') }}"> Se déconnecter </a></li>
                                 </ul>
 
                             {# </div>  #}

                         </div>  

                     </div>

                     {% else %}
                         
                         {# * Si pas utilisateur => modal de connection * #}
                         {% include 'partials/loginModal.html.twig' %}

                     {% endif %}
       
                 </div>

                 {# ********** Partie: Logo ********** #}

                 <div class=" "> 
                     <img src="/logo.png" alt="Logo du site" >
                 </div>

                 {# ********** Partie: SideBar ********** #}

                 <div class="col-md-3 text-end ">

                     <div id="myNav" class="overlay">

                         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> &times; </a>
                    
                         {# <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;"> #}
                         <div class="overlay-content">
                             
                             {# *** Titre *** #}
                             <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                 <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                                 <span class="h1 fs-4"> Menu de navigation </span>
                             </a>
            
                             <hr>

                             <ul class="nav nav-pills flex-column mb-auto">

                                 {# *** Lien n° 1 *** #}

                                 <li class="nav-item">
                                     <a href="#" class="nav-link" aria-current="page">
                                         <svg class="bi me-2" width="16" height="16">
                                         <use xlink:href="#home"></use></svg>
                                         <i class='fas fa-house-user'></i> &nbsp; Accueil
                                     </a>
                                 </li>

                                 {# *** Lien n° 2 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <svg class="bi me-2" width="16" height="16">
                                         <use xlink:href="#speedometer2"></use></svg>
                                         <i class='fas fa-pepper-hot'></i> &nbsp; Actualités
                                     </a>
                                 </li>

                                 {# *** Lien n° 3 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <svg class="bi me-2" width="16" height="16">
                                         <use xlink:href="#table"></use></svg>
                                         <i class='fas fa-utensils'></i> &nbsp; Recettes
                                     </a>
                                 </li>

                                 {# *** Lien n° 4 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <svg class="bi me-2" width="16" height="16">
                                         <use xlink:href="#grid"></use></svg>
                                          <i class='fas fa-hand-sparkles'></i> &nbsp; Astuces
                                     </a>
                                 </li>

                                 {# *** Lien n° 5 *** #}

                                 <li>
                                     <a href="#" class="nav-link">
                                         <svg class="bi me-2" width="16" height="16">
                                         <use xlink:href="#people-circle"></use></svg>
                                         <i class='fas fa-address-card'></i> &nbsp;  Contact
                                     </a>
                                 </li>

                             </ul>

                         </div>   

                     </div>
             
                     <span style="font-size:30px;cursor:pointer" onclick="openNav()"> &#9776; </span> 

                 </div>

             </header>

         </div>
