 {# ? Partie: Header #}

         {# ! Bouton LightMode/ DarkMode: Mache pas Ca m'as fait craqué je dois revenir dessus JC_ #}
         {# <div class="btn btn-outline-dark btn-toggle btn-sm" >Go Nuit</div> #}   

         <div class="container">

             <header class="row align-items-center justify-content-md-between ">

                 <hr class="dropdown-divider" style="color: black;"/> 

                 <div class="col-4  text-start">
                 {# <div class="col-4 pb-3 mb-0 small lh-sm border-bottom w-10" > #}
                 {# <div class="col-4 text-start" > #}
                       {# <div class="col-md-3 text-start "> #}

                     {% if app.user %}
                        
                         {# {% if app.user.avatar %} #}


                         <div class="" style="display:flex; justify-content:space-around;">

                             {# *********************************** #}
                             {# * Gestion de l'utilisateur actuel * #}
                             {# *********************************** #}

                             <div class="dropdown">
                             {# {% if user.avatar %} #}
    
                                 <div class="d-flex justify-content-between">
    
                                     <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                         <img src="/uploads/avatar/{{app.user.avatar}} " alt="" width="32" height="32" class="rounded-circle me-2">

                                         <div class="d-flex justify-content-between">
                                                        
                                             <strong class="text-gray-dark">

                                                 {# Full Name #}                                                
                                                 {% if app.user.login %} 

                                                     @ {{app.user.username}} 

                                                 {% else %}

                                                     Bienvenue
                                                     <i class="bi bi-caret-down"></i>

                                                 {% endif %}

                                             </strong>
    
                                         </div>
                                         
                                     </a>
    
                                     <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

                                        
                                         {# <li> <hr class="dropdown-divider">   </li>   #}

                                         {# ***** Gestion du site ***** #}
                                         {# <h6> <kbd> Gestion du site </kbd> </h6>
                                             <li> <hr class="dropdown-divider">   </li> #}

                                        
                                         
                                         {# <li> <hr class="dropdown-divider">   </li>   #}

                                         {# ***** Gestion des recettes ***** #}
                                         <h6> <kbd> Gestion des recettes </kbd> </h6> 

                                             <li> <a class="dropdown-item" href="{{path ('recette_new',{'id': app.user.id})}}"> Créer une nouvelle recette </a> </li> 
                                             <li> <a class="dropdown-item" href="{{path ('recette_index',{'id': app.user.id})}}"> Gérer mes recettes </a> </li>
                                             <li> <hr class="dropdown-divider"> </li>                                                                                                 

                                         {# ***** Gestion du site ***** #}
                                         <h6> <kbd> Gestion du site </kbd> </h6>

                                             <li> <a class="dropdown-item" href="{{path ('user_index') }}"> Gérer les utilisateurs </a> </li>
                                             {# <li> <a class="dropdown-item" href="#"> Gérer les roles </a> </li> #}
                                             {# <li> <a class="dropdown-item" href="#"> Gérer les commentaires </a> </li> #}
                                             {# <li> <a class="dropdown-item" href="#"> Gérer les notes </a> </li> #}
                                            
                                             <li> <hr class="dropdown-divider"> </li>


                                         {# ***** Gestion du site ***** #}
                                         <h6> <kbd> Gestion du profil </kbd> </h6>

                                             <li> <a class="dropdown-item" href="{{path ('user_edit',{'id': app.user.id})}}"> Gérer mon compte </a></li>
                                             <li> <a class="dropdown-item" href="{{path ('user_show',{'id': app.user.id})}}"> Mon profil </a></li>
                                             <li> <a class="dropdown-item" href="#"> Paramètres </a></li>

                                             <li> <hr class="dropdown-divider"> </li> 

                                             <li> <a class="dropdown-item" href="{{ path ('app_logout') }}" name="Se déconnecter" alt="Bouton se déconnecter"> 🔘 Se déconnecter</a></li>


                                     </ul>
     
                                 </div> 
    
                             </div>  

                         </div>

                     {# <p> avatar de l'utilisateur  </p> #}

                     {# {% else %} #}

                     {# {% endif %} #}


                     {% else %}
                         
                         {# * Si pas utilisateur => modal de connection * #}
                         {% include 'partials/loginModal.html.twig' %}

                     {% endif %}
       
                 </div>

                 {# ********** Partie: Logo ********** #}

                 <div class="col-4 text-center "> 
                     <img id="avatarUser"src="/logo.png" alt="Logo du site" >
                 </div>
             
                 {# ********** Partie: SideBar ********** #}

                 <div class="col-4 text-end">

                     <div id="myNav" class="sideBar_Cuistot">

                         {# <hr style="color:bleu;"/> #}
                         
                         {# ? Animation Bouton " Close " du Menu de navigation #}

                         <article>
		
		                	 <audio id="MenuNavigationClose" onclick="SoundAnimationBoutonClose()">
		                    	 <source src="/Sound/MGS_MenuOff1.mp3" type="audio/mpeg"></source>
		                     </audio>

                             <a href="javascript:void(0)" class="closebtn" preload="auto" onmousedown="SoundFxMenuClose()" onclick="closeNav()" onmouseover="style.color='red'" onmouseout="style.color='rgb(25, 135, 84, 0.9)'" > &times;  </a>
                        
                             <script>
		                		 var audioDuBoutonClose = document.getElementById("MenuNavigationClose");
		                	  	 function SoundFxMenuClose() {
		                			 audioDuBoutonClose.play ();
		                		 }
		                	 </script>
                 
		                 </article>

                         <hr style="color:rgba(25,135,84,0.9);"/>

                         <div class="overlay-content">
                             
                             {# *** Titre *** #}
                             <p href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                
                                 <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                              
                                     <span class="h1"> 
                                         Menu de navigation 💻
                                     </span>

                             </p>
            
                                 <hr style="color:rgba(25,135,84,0.9);"/>

                             <ul class="nav nav-pills flex-column">

                                 {# *** Lien n° 1 *** #}

                                 <li class="nav-item">

                                     <a href="/" class="nav-link" >
               
                                         <h2> 
                                             <i class='fas fa-house-user'> </i> &nbsp; Accueil 
                                         </h2>

                                     </a>

                                 </li>

                                 {# *** Lien n° 2 *** #}

                                 <li >

                                     <a href="#" class="nav-link">

                                         <h2> 
                                             <i class='fas fa-pepper-hot'></i> &nbsp; Actualités
                                         </h2>

                                     </a>

                                 </li>

                                 {# *** Lien n° 3 *** #}

                                 <li>

                                     <a href="#" class="nav-link">

                                         <h2> 
                                             <i class='fas fa-utensils'></i> &nbsp; Recettes
                                         </h2>

                                     </a>

                                 </li>

                                 {# *** Lien n° 4 *** #}

                                 <li>

                                     <a href="#" class="nav-link">

                                         <h2> 
                                             <i class='fas fa-hand-sparkles'></i> &nbsp; Astuces
                                         </h2>

                                     </a>

                                 </li>

                                 {# *** Lien n° 5 *** #}

                                 <li>

                                     <a href="#" class="nav-link" >

                                         <h2> 
                                             <i class='fas fa-address-card'></i> &nbsp;  Contact 
                                         </h2>

                                     </a>
                                     
                                 </li>

                             </ul>

                         </div>   

                     </div>

                         {# ? Animation Bouton " Close " du Menu de navigation #}

                         <article>
		
		                     <audio id="MenuNavigationOpen" onclick="SoundAnimationBoutonOpen()">
			            	     <source src="/Sound/MGS_MenuOn1.mp3" type="audio/mpeg"></source>
			                 </audio>

                             <span style="font-size:30px;cursor:pointer" preload="auto" onmousedown="SoundFxMenuOpen()"  onclick="openNav(1)" onmouseover="style.color='#f0626f'" onmouseout="style.color='white'"> &#9776; </span> 
   
                             <script>
		            	    	 var audioDuBoutonOpen = document.getElementById("MenuNavigationOpen");
		            	      	 function SoundFxMenuOpen() {
		            	    		 audioDuBoutonOpen.play ();
		            	    	 }
		                    </script>

		                 </article>

                 </div>

                 <hr class="dropdown-divider" style="color: black;"/>    

             </header>

         </div>
           
         {# ***** ***** ***** ***** ***** #}

         {# <p>
             <a href="http://jigsaw.w3.org/css-validator/check/referer">
             
                 <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss"
                     alt="CSS Valide !" />
            
             </a>
             
         </p> #}
                     
         {# CSS Valide ! #}
         {# ? Code CSS Validé Par W3.org #}

         {# <p>
             <a href="http://jigsaw.w3.org/css-validator/check/referer">
               
                 <img style="border:0;width:88px;height:31px"
                     src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                     alt="CSS Valide !" />
                 </a>
          
             </p> #}
     
         {# ***** ***** ***** ***** ***** #}



                         
                        