 {# ? Partie: Header #}

     <div class="container">

         <header class="row align-items-center justify-content-md-between">

             <hr style="color: black;"/> 

             <div class="col-4 text-start">

                 {% if app.user %}


                     <div>

                         {# *********************************** #}
                         {# * Gestion de l'utilisateur actuel * #}
                         {# *********************************** #}

                         <div class="dropdown">
    
                             <div class="d-flex justify-content-between">
    
                                 <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                
                                     <img src="/uploads/avatar/{{app.user.avatar}} " alt="" width="32" height="32" class="rounded-circle me-2">

                                         <div class="d-flex justify-content-between">
                                                        
                                             <strong class="text-gray-dark">

                                                 {% if app.user.login %} 

                                                      {{app.user.username}} 

                                                 {% else %}

                                                     Bienvenue
                                                     <i class="bi bi-caret-down"></i>

                                                 {% endif %}

                                             </strong>
    
                                         </div>
                                     
                                 </a>
    
                                 <ul class="dropdown-menu dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">

                                     <h6> <kbd> Gestion des recettes </kbd> </h6> 

                                         <li>

                                             <a class="dropdown-item" href="{{path ('recette_new')}}"> 
                                                 Créer une nouvelle recette 
                                             </a>

                                         </li> 

                                         <li>

                                             <a class="dropdown-item" href="{{path ('recette_index')}}">
                                                 Gérer mes recettes 
                                             </a> 

                                         </li> 
                                       
                                         {% if is_granted ("ROLE_ADMIN") %}    

                                             <li> 

                                                 <a class="dropdown-item" href="{{path ('interface_administration')}}"> 
                                                     Interface d'administration 
                                                 </a> 

                                             </li>
                                      
                                         {% endif %}

                                     <h6> <kbd> Gestion du profil </kbd> </h6>
                                     
                                         <li> 

                                             <a class="dropdown-item" href="{{path ('user_edit',{'id': app.user.id})}}"> 
                                                 Gérer mon compte 
                                             </a>

                                         </li>
                                         
                                         <li> 

                                             <a class="dropdown-item" href="{{path ('user_show',{'id': app.user.id})}}"> 
                                                 Mon profil 
                                             </a>

                                         </li>

                                         <hr style="color:grey;"/>

                                         <li>

                                             <a class="dropdown-item" href="{{ path ('app_logout') }}" name="Se déconnecter" alt="Bouton se déconnecter"> 
                                                 Se déconnecter
                                             </a>

                                         </li>

                                 </ul>
     
                             </div> 
    
                         </div>  

                     </div>

                 {% else %}
                     
                     {# * Si pas utilisateur => modal de connection * #}
                     {% include 'partials/loginModal.html.twig' %}

                 {% endif %}
 
             </div>

             {# ********** Partie: Logo ********** #}

             <div class="col-4 text-center "> 
                 <img id="avatarUser"src="/logo.png" alt="Logo du site" >
             </div>
         
             {# ********** Partie: SideBar ********** #}

             <div class="col-4 text-end">

                     <div id="myNav" class="sideBar_Cuistot">

                         {# ? Animation Bouton " Close " du Menu de navigation #}

                         <article>
		
		                	 <audio id="MenuNavigationClose" onclick="SoundAnimationBoutonClose()">
		                    	 <source src="/Sound/MGS_MenuOff1.mp3" type="audio/mpeg"></source>
		                     </audio>

                             <a id="boutonCloseMenuNav" 
                                 href="javascript:void(0)" 
                                 class="closebtn" 
                                 preload="auto" 
                                 onmousedown="SoundFxMenuClose()" 
                                 onclick="closeNav()" 
                                 onmouseover="style.color='red'" 
                                 onmouseout="style.color='rgb(123, 132, 255, 0.9)'" >

                                 <i class="fa fa-times" aria-hidden="true"></i>

                             </a>               
                 
		                 </article>

                         {# ? Menu de droite #}

                         <div class="overlay-content">
                             
                             {# *** Titre *** #}

                             <p href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                
                                 <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>

                                     <p id="titreMenuNavigation"> 
                                         Menu 
                                         {# 💻 #}
                                     </p>

                                     <div class="barreVerticaleMenu"></div>

                             </p>

                             <ul class="nav nav-pills flex-column">

                                 {# *** Lien n° 1 *** #}

                                 <li class="nav-item">

                                     <a href="/" class="nav-link" >
               
                                         <p> 
                                             {# <i class='fas fa-house-user'> </i> #}
                                              &nbsp; ACCUEIL
                                         </p>

                                     </a>

                                 </li>

                                 {# *** Lien n° 2 *** #}
                                 {# 
                                 <li >

                                     <a href="#" class="nav-link">

                                         <h3> 
                                             <i class='fas fa-pepper-hot'></i> &nbsp; Actualités
                                         </h3>

                                     </a>

                                 </li> #}

                                 {# *** Lien n° 3 *** #}

                                 <li>

                                     <a href="{{ path('recette_index') }}" class="nav-link">

                                         <p> 
                                             {# <i class='fas fa-utensils'></i>  #}
                                             &nbsp; RECETTES
                                         </p>

                                     </a>

                                 </li>

                                 {# *** Lien n° 4 *** #}

                                 <li>

                                     <a href="/recherche" class="nav-link">

                                         <p> 
                                             {# <i class='fas fa-utensils'></i> #}
                                              &nbsp; RECHERCHE
                                         </p>

                                     </a>

                                 </li>

                                 {# *** Lien n° 5 *** #} 

                                 <li>

                                     <a href="#" class="nav-link">

                                         <p> 
                                             {# <i class='fas fa-hand-sparkles'></i> #}
                                              &nbsp; ASTUCES
                                         </p>

                                     </a>

                                 </li>

                                 {# *** Lien n° 6 *** #}

                                 <li>

                                     <a href="#" class="nav-link" >

                                         <p> 
                                             {# <i class='fas fa-address-card'></i> #}
                                              &nbsp;  CONTACT 
                                         </p>

                                     </a>
                                     
                                 </li>

                             </ul>

                         </div>   

                     </div>

                     {# ? Animation Bouton " Close " du Menu de navigation #}

                     <article>
		
		                 <audio id="MenuNavigationOpen" onclick="SoundAnimationBoutonOpen()">
			        	     <source src="/Sound/MGS_MenuOn1.mp3" type="audio/mpeg"></source>
			             </audio>

                         <span id="boutonOpenMenuNav"
                             style="font-size:2em;"
                             preload="auto" 
                             onmousedown="SoundFxMenuOpen()" 
                             onclick="openNav(1)"> 
                             &#9776; </span> 

		             </article>

             </div>

             {# ********** Partie: Barre de recherche ********** #} 

             <hr style="color: black;"/> 
     
             {# <article class="p-3 text-white">

                     <div class="container">

                         <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                             <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"> #}

                                 {# ? Partie: CHAMP RECHERCHE SIMPLE #}

                                 {# <fieldset> #}

                                 {# <input type="search" class="form-control form-control-dark" placeholder="Rechercher une recette" aria-label="Recherche"> #}
                                 {# *** INPUT *** #}
                                     {# {{ form_widget(form.recette,{ 
                                  
                                         'attr': {                        
                                             'class':'recette',
                                             'placeholder':'Entrez un nom de recette'          
                                         }

                                     }) }}  #}

                                 {# </fieldset> #}

                             {# </form>
                         
                         </div>

                     </div>

             </article> #}

         </header>


         {# ? Partie: Animation Bouton Open #}
         <script>
		  	 var audioDuBoutonOpen = document.getElementById("MenuNavigationOpen");
		   	 function SoundFxMenuOpen() {
		  		 audioDuBoutonOpen.play ();
		  	 }
		 </script>

         {# ? Partie: Animation Bouton Close #}
         <script>
			 var audioDuBoutonClose = document.getElementById("MenuNavigationClose");
		  	 function SoundFxMenuClose() {
				 audioDuBoutonClose.play ();
			 }
		 </script>

     </div>
           


         



                         
                        