{# ? MODAL CONNEXION #}

     <main class="modal_Cuistot">

         <button type="button" class=" btn btn-success btn-lg login-position" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <i id="house1" class="bi bi-house "> </i>
             {# <span class="mobileHide"> Connection </span> #}
         </button>

         {# ***** MODAL ***** #}

         <div class="login-box modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

             <div class="modal-dialog modal-dialog-centered">

                 <div class="modal-content ">
                 {# ? div pour second modal #}
                 {# <div class="login-box">  #}

                     <section class="modal-header ">

                         <h5 class="modal-title" id="exampleModalLabel">
                             <i class="bi bi-house-door"> </i> 
                             Menu de connection 
                         </h5>

                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                     </section>

                     <article class="modal-body">

                         <div id="loginStyle" class="text-center">

                             <main class="form-signin">

                                 <form method="post" action="{{ path ("app_login") }}">

                                     {# *** SI L'UTILISATEUR EST AUTHENTIFIÉ *** #}

                                     {% if app.user %}

                                         <div class="mb-3">
                                             Vous etes connecter en tant que {{ app.user.username }},
                                             <a href="{{ path('app_logout') }}"> Se déconnecter </a>
                                         </div>

                                     {% endif %}

                                     {# *** IMAGE: LOGO DU SITE *** #}

                                     <h1 class="mb-3 font-weight-normal"> Se connecter </h1>

                                         <label for="inputLogin" class="visually-hidden"> Pseudo </label>
                                         <input  type="text"  name="login" id="inputLogin" class="form-control"  placeholder="Login" required autofocus>        
                                                            
                                         <label for="inputPassword" class="visually-hidden"> Mot de passe </label>
                                         <input  type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required=""> 

                                         <br/>  

                                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                         <section class="btn-group col-12">

                                             <button class="btn btn-dark btn-lg px-4 gap-3"> 
                                                 Valider
                                             </button>

                                             <a type="button" href="{{ path('app_register') }}" class="btn btn-success btn-lg px-4 gap-3">                                
                                                 S'inscrire
                                             </a>

                                         <section>   
                                      
                                 </form>

                             </main>

                         </div>  

                     </article>              

                 </div>

             </div>

         </div>
     
     </main>