 {# ? MODAL CONNEXION #}

     <button type="button" class=" btn btn-success btn-lg login-position" data-bs-toggle="modal" data-bs-target="#exampleModal">
         <i id="house1" class="bi bi-house "> </i>
     </button>

         {# ***** MODAL ***** #}

         <div class="login-box modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

             <div class="modal-dialog modal-dialog-centered">

                 <div class="modal-content ">
                 {# ? div pour second modal #}
                 {# <div class="login-box">  #}

                     {# ****** Partie: Titre du Modal ***** #}

                     <div class="modal-header ">

                         <h5 class="modal-title" id="exampleModalLabel">
                             <i class="bi bi-house-door"> </i>
                             <span> Menu de connection </span>
                         </h5>

                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                     </div>

                     {# ***** Partie: Contenu du modal ***** #}

                     <div class="modal-body">

                         <div id="loginStyle" class="text-center">

                             <main class="form-signin">

                                 <form method="post" action="{{ path ("app_login") }}">

                                     {# *** SI L'UTILISATEUR EST AUTHENTIFIÉ *** #}

                                     {% if app.user %}

                                         <div class="mb-3">
                                             <p> Vous etes connecter en tant que {{ app.user.username }}, </p>
                                             <a href="{{ path('app_logout') }}"> Se déconnecter </a>
                                         </div>

                                     {% endif %}

                                     {# *** IMAGE: LOGO DU SITE *** #}

                                     <h1 class="h3 mb-3 font-weight-normal"> Se connecter </h1>

                                         <label for="inputLogin" class="visually-hidden"> Pseudo </label>
                                         <input  type="text"  name="login" id="inputLogin" class="form-control"  placeholder="Login" required autofocus>      
                                                              
                                         <label for="inputPassword" class="visually-hidden"> Mot de passe </label>
                                         <input  type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required=""> 

                                         <br/>  

                                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                         {# ***** Partie: Bouton / Actions ***** #}

                                          <div class="row btn-group col-12">    

                                             <button class="btn btn-dark btn-lg btn-block col-6" type="submit"> 
                                                 Valider
                                             </button>
 
                                             <button href="{{ path ('app_register') }}" class="btn btn-success btn-lg btn-block col-6">
                                                S'inscrire 
                                             </button>

                                         <div>   

                                         {# ************************* #}
                                      
                                 </form>

                             </main>

                         </div>  

                     </div>  

                     {# ************************* #}            

                 </div>

             </div>

     </div>
     
