 {# ? Partie : Gestion des recettes #ModeUser #}
 
 {% extends 'base.html.twig' %}


{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>
    <div class="col-12 row">
        {% for recette in recettes %}
        <div class="col-6 cardRecette">
        <a href="{{path("recette_show", {'id': recette.id})}}">
        {% if recette.image %}
        <h2>{{recette.name}}</h2>
        <div class="col-6">
        <img src="{{asset('uploads/recettes/'~ recette.image)}}" style="max-width:100%"/>
        </div>        
        {% else  %}
        <h2> {{recette.name}}</h2>
        {% endif %}
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('recette_delete', {'id': recette.id}) }}" onsubmit="return confirm('êtes vous sure de vouloir suprimer cette recette? Cette action est iréversible');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
                <button class="btn btn-primary">Supprimer la recette</button>
            </form>
        {% endif %}
        </div>
        {% endfor %}
    </div>

{% endblock %}

