 {# ? Partie : Gestion des recettes #}
 
 {% extends 'base.html.twig' %}
   
     {% block metaTitle %}
         " Liste des recettes "
     {% endblock %}   

     {% block title %}
         Liste des recettes
     {% endblock %}
         
     {% block body %}

         <main class="Form"> 

             <div class="text-center">

                 {# *** *** *** **** *** *** #}

                 <section>     
     
                     <h1> Liste des recettes </h1>
                     
                         <hr/>

                             <p> 
                                 <em> Consultez et gérez vos recettes ! </em> 📇
                             </p>

                         <hr/>                   
     
                 </section>  

                 {# *** *** *** **** *** *** #}  

                 {# ? Partie: Liste des recettes. #}

                 <article class="flex-container">

                     <div class="text-center p-4 text-white rounded bg-dark">                               
       
                         <div class="row">

                             {# *** *** *** **** *** *** #}

                             {% for recette in recettes %}

                                 <div class="col-6 cardRecette">

                                     <div class="carteBg1 card mb-3">

                                         {# *** *** *** **** *** *** #}

                                         <section class="card-body">

                                             {% if recette.image %}
  
                                                 <h2> {{recette.name}} </h2>

                                                 <figure class="cardImage col-12">
                                                     <img src="{{asset('uploads/recettes/'~ recette.image)}}" style="max-width:100%"/>
                                                 </figure>  

                                             {% else  %}

                                                 <h2> {{recette.name}} </h2>
                          
                                             {% endif %}

                                         </section>

                                         {# *** *** *** **** *** *** #}

                                         {% if is_granted('ROLE_ADMIN') %}

                                             <section class="btn-group-vertical col-12">

                                                 <a href="{{path("recette_show", {'id': recette.id})}}" type="submit" class="btn btn-success btn-lg col-6">                                
                                                     Voir 👀
                                                 </a>  
                                            
                                                 <a href="{{path("recette_edit", {'id': recette.id})}}" class="btn btn-secondary btn-lg col-6"> 
                                                     Modifier 🔧
                                                 </a>

                                             </section>                                
                           
                                         {% endif %}

                                         {# *** *** *** **** *** *** #}

                                     </div>

                                 </div>    
                          
                             {% endfor %}

                             {# *** *** *** **** *** *** #}
                         
                         </div>

                     </div>

                 </article>

                 {# *** *** *** **** *** *** #}    

             <div/>      
         
         </main>     

     {% endblock %}         

     {# *** *** *** **** *** *** #}  

         {# <div class="col-6 cardRecette">

             <div class="carteBg1 card mb-3">
                 
                 <section class="card-body">
                       
                     <h2> Tiramisu </h2>

                     <figure class="cardImage col-12">
                         <img src="/uploads/recettes/tiramisu-60ea6ae665367.jpg" style="max-width:100%">
                     </figure>  
                     
                 </section>                                       
                 
                 <section class="btn-group-vertical col-12">

                     <a href="/recette/1" type="submit" class="btn btn-success btn-lg col-6">                                
                         Voir 👀
                     </a>  
                
                     <a href="/recette/1/edit" class="btn btn-secondary btn-lg col-6"> 
                         Modifier 🔧
                     </a>

                 </section>                                
                                            
             </div>

         </div> #}

     {# *** *** *** **** *** *** #}  

     
                 {# ****************************** #}

                 {# ? Partie: Les dernierès recettes. #}

                 {# 
                 <article class="flex-container">

                     <div class="row">

                         <div class="text-center"> #}

                             {# ******************** #}

                                 {# <div class="text-center p-4 p-md-5 mb-4 text-white rounded bg-dark"> #}
                                 {# <div class="text-center p-4 rounded ">                               
   
                                     <div class="col-md-12">
 
                                         <hr/> 

                                             <h2 class="mb-3 rounded"> 
                                                 Les dernierès recettes 🌆 
                                             </h2>
                                     
                                         <hr/> #}
                                        
                                         {# ******************** #}

                                         {# <div class="row"> #}
                                     
                                         {# ? Carte n°1 #}

                                         {# <div class=" col-sm-3 ">

                                             <div class="carteBg1 card mb-3">

                                                 <div class="card-body">

                                                     <h5 class="card-title"> Titre exemple </h5>
                                                     <p class="card-text"> Article exemple </p>
                                                     <a href="#" class="col-12 btn btn-success bg-gradient "> Petit-Déjeuner </a>

                                                 </div>

                                             </div>

                                         </div> #}

                                         {# ******************** #}

                                         {# ? Carte n°2 #}

                                         {# <div class="col-sm-3">
    
                                             <div class="carteBg2 card mb-3">

                                                 <div class="card-body">
    
                                                     <h5 class="card-title"> Titre exemple </h5>
                                                     <p class="card-text"> Article exemple </p>
                                                     <a href="#" class="col-12 btn btn-success bg-gradient"> Entrées </a>
                                                     
                                                 </div>
    
                                             </div>
    
                                         </div> #}

                                         {# ******************** #}

                                         {# ? Carte n°3 #}

                                         {# <div class="col-sm-3">

                                             <div class="carteBg3 card mb-3">
                                             {# <div class="card text-white bg-success bg-gradient mb-3"> #}

                                                 {# <div class="card-body">

                                                     <h5 class="card-title"> Titre exemple </h5>
                                                     <p class="card-text"> Article exemple </p>
                                                     <a href="#" class="col-12 btn btn-success bg-gradient"> Plats </a>
                                                     
                                                 </div>

                                             </div>

                                         </div>  #}

                                         {# ******************** #}
 
                                         {# ? Carte n°4 #}

                                         {# <div class="col-sm-3">

                                             <div class="carteBg4 card mb-3">
                                             {# <div class="card text-white bg-success bg-gradient mb-3"> #}

                                                 {# <div class="card-body">

                                                     <h5 class="card-title"> Titre exemple </h5>
                                                     <p class="card-text"> Article exemple </p>
                                                     <a href="#" class="col-12 btn btn-success "> Desserts </a>
                                                     
                                                 </div>

                                             </div>

                                         </div> #} 
                                      
                                         {# ******************** #}

                                         {# </div>

                                     </div>         

                                 </div> #}

                             {# ******************** #}   

                         {# </div>
 
                     </div>

                 </article> 

                 <hr/>  #}

                 {# **************************************************************************************** #}

             {# </div> 
             
         </main> #}
 
     {# {% endblock %} #}

 {# ? CODE VRAC / TEST #}

    

              
              