 {# ? Partie : Gestion des recettes #}
 
 {% extends 'base.html.twig' %}
   
     {% block metaTitle %}
         " Liste des recettes "
     {% endblock %}   

     {% block title %}
         Liste des recettes
     {% endblock %}
         
     {% block body %}

         <main class="Form"> 

             <div class="text-center">

                 {# *** *** *** **** *** *** #}

                 <section>     
     
                     <h1> Liste des recettes </h1>
                     
                         <hr/>

                             <p> 
                                 <em> Consultez et gérez vos recettes ! </em> 📇
                             </p>

                         <hr/>                   
     
                 </section>  

                 {# *** *** *** **** *** *** #}  

                 {# ? Partie: Liste des recettes. #}

                 <article class="container">

                     <div class="text-center p-4 text-white rounded bg-dark">                               
       
                         <div class="row">

                             {# *** *** *** **** *** *** #}

                             {% for recette in recettes %}

                                 <div class="col-4 cardRecette">

                                     <div class="carteBg1 card mb-3">

                                         {# *** *** *** **** *** *** #}

                                         <section class="card-body">

                                             {% if recette.image %}
  
                                                 <h2> {{recette.name}} </h2>

                                                 <figure class="cardImage col-12">
                                                     <img src="{{asset('uploads/recettes/'~ recette.image)}}" style="max-width:100%"/>
                                                 </figure>  

                                             {% else  %}

                                                 <h2> {{recette.name}} </h2>
                          
                                             {% endif %}

                                         </section>

                                         {# *** *** *** **** *** *** #}

                                         {% if is_granted('ROLE_ADMIN') %}

                                             <section class="btn-group-vertical col-12">

                                                 <a href="{{path("recette_show", {'id': recette.id})}}" type="submit" class="btn btn-success btn-lg col-6">                                
                                                     Voir 👀
                                                 </a>  
                                            
                                                 <a href="{{path("recette_edit", {'id': recette.id})}}" class="btn btn-secondary btn-lg col-6"> 
                                                     Modifier 🔧
                                                 </a>

                                             </section>                                
                           
                                         {% endif %}

                                         {# *** *** *** **** *** *** #}

                                     </div>

                                 </div>    
                          
                             {% endfor %}

                             {# *** *** *** **** *** *** #}
                         
                         </div>

                     </div>

                 </article>

                 {# *** *** *** **** *** *** #}    

             <div/>      
         
         </main>              

     {% endblock %}

              
              