 {# ? Partie : Créer un nouvel ingrédients (suite) #ModeUser #}

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Créer un nouvel ingrédients (suite) "
     {% endblock %}

     {% block title %}
         Créer un nouvel ingrédients (suite)
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="text-center col-12">

                 {# ? Partie: Titre #} 

                 <section>
    
                     <h1> Créer un nouvel ingrédients (suite) </h1>
         
                         <hr/>

                             <p> 
                                 <em> Ajouter un autre ingrédient à votre recette. </em>  📇 
                             </p>

                         <hr/>

                 </section>  

                 {# ? Partie: Breadcrumb  #} 

                 <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

                     <ol class="breadcrumb">
                         <li class="breadcrumb-item" name="Etape n°1" alt="Etape n°1: Créer une nouvelle recette"> Etape n°1: Créer une nouvelle recette </li>
                         <li class="breadcrumb-item active" aria-current="page" name="Etape n°1" alt="Etape n°2 bis: Ajout d'ingrédient" aria-current="page"> Etape n°2 bis: Ajout d'ingrédient </li>    
                     </ol>

                 </nav>

                 <br/>

                 {# ? Partie: Formulaire ajout d'ingrédient #}

                 <article class="flex-container4">
                 
                     {{form_start(form)}} 

                         <div class=" col-12">

                             <div class=" row">
                             {# {{ include('recette/_form.html.twig') }} #}
                                 <div class="col-4">
                                     {{form_row(form.ingredients_id, {'attr':{'class':'col-4'}})}}
                                 </div>

                                 <div class="col-4">
                                     {{form_row(form.quantite, {'attr':{'class':'col-4'}})}}
                                 </div>

                                 <div class="col-4">
                                     {{form_row(form.unitemesure_id, {'attr':{'class':'col-4'}})}}
                                 </div>

                             </div>

                             <br/>

                             <button class="btn col-12 btn-dark btn-lg px-4">
                                 {{ button_label|default('Sauvegarder') }} 
                             </button>

                         </div>

                     {{form_end(form)}}    
                     
                     {# <a href="#" class="btn btn-primary">Mon ingredients n'est pas dans la liste</a> #}

                     <main class="modal_ajout_ingredient col-12">

                         <button type="button" class="col-12 btn btn-success btn-lg login-position" data-bs-toggle="modal" data-bs-target="#Modal_ajout_ingredient">  
                             Mon ingredient n'est pas dans la liste
                         </button>

                         <br/>

                         {# ***** MODAL ***** #}

	                     <div class="login-box modal fade" id="Modal_ajout_ingredient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		                    
                             <div class="modal-dialog modal-dialog-centered" style="width:900px;max-width:1200px!important">
		                     
                                 <div class="modal-content ">

                                     {# ? Header du Modal #}
                                   
                                     <section class="modal-header ">
                                        
                                         <h5 class="modal-title" id="exampleModalLabel">
                                             Ajouter un ingredient ne figurant pas dans la liste :  
                                         </h5>
                                        
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    
                                     </section>

                                     {# ? Corps du Modal #}
                                   
                                     <article class="modal-body">
                                       
                                         <iframe id="ModificationCommentaire"
                                                 title="Modification Commentaire"
                                                 width="800"
                                                 height="600"
                                                 sandbox="allow-scripts allow-forms allow-same-origin allow-modals"
                                                 src="{{path('user_ingredient_new',{'recette_id': id })}}">
                                       
                                         </iframe>
                                    
                                     </article>   

                                     {# ******************** #}
                                
                                 </div>
		                   
                             </div>
	                    
                         </div>

                     </main>

                     {# <hr class="homeDivider4"/> #}
                     <hr/>

                     {# ******************** #}

                     {# ? Partie: Bouton Action #}

                     <article>

                         <a href="{{ path('recette_new_etapes',{'id': app.request.get('id')})}}" type="submit" class="btn btn-secondary col-12 btn-lg px-4 gap-3">                                
                             Passer a l'ajout des étapes
                         </a> 

                         {# <hr class="homeDivider3">   #}
                         <hr/>         

                         <a href="{{ path('recette_index') }}" type="submit" class="btn col-12 btn-dark btn-lg px-4">                                
                             Retour à la liste 
                         </a>  

                         {# <hr class="homeDivider4">  #}
                         {# <hr/> #}
 
                     </article>

                     {# ******************** #} 

                 </article>

         </main>

         <script type="text/javascript" src="{{asset('js/modalCommentaireButton.js')}}"></script> 

     {% endblock %}


                 