  {# ? Partie : Créer un nouvel ingrédient (suite) #ModeUser #}

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Ajouter un ingrédient "
     {% endblock %}

     {% block title %}
         Ajouter un ingrédient
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <section class="text-center">

                 <h1 class="h1 mb-3 font-weight-normal"> Ajouter un ingrédient </h1>

             </section>      
     
             <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

                 <ol class="breadcrumb">
                     <li class="breadcrumb-item" name="Etape n°1" alt="Etape n°1: Créer une nouvelle recette"> Etape n°1: Créer une nouvelle recette </li>
                     <li class="breadcrumb-item active" aria-current="page" name="Etape n°1" alt="Etape n°2: Ajout d'ingrédient" aria-current="page"> Etape n°2: Ajout d'ingrédient </li>    
                 </ol>

             </nav>

             <article class="btn-group-vertical">

                 <div class="text-center col-12">
                 {{form_start(form)}}
                 <div class="col-12 row">
                     {# {{ include('recette/_form.html.twig') }} #}
                        <div class="col-4">
                            {{form_row(form.ingredients_id, {'attr':{'class':'col-4'}})}}
                        </div>
                        <div class="col-4">
                            {{form_row(form.quantite, {'attr':{'class':'col-4'}})}}
                        </div>
                        <div class="col-4">
                            {{form_row(form.unitemesure_id, {'attr':{'class':'col-4'}})}}
                        </div>
                    </div>
                    {{form_end(form)}}
                 </div>
                 {# <a href="#" class="btn btn-primary">Mon ingredients n'est pas dans la liste</a> #}

                 <main class="modal_ajout_ingredient">
                     <button type="button" class=" btn btn-success btn-lg login-position" data-bs-toggle="modal" data-bs-target="#Modal_ajout_ingredient">  
                         Mon ingredient n'est pas dans la liste
                     </button>
                     {# ***** MODAL ***** #}
	                 <div class="login-box modal fade" id="Modal_ajout_ingredient" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		                 <div class="modal-dialog modal-dialog-centered" style="width:900px;max-width:1200px!important">
			                 <div class="modal-content ">
                                 <section class="modal-header ">
                                     <h5 class="modal-title" id="exampleModalLabel">
                                         Ajouter un ingredient ne figurant pas dans la liste :  
                                     </h5>
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                 </section>
                                 <article class="modal-body">
                                     <iframe id="ModificationCommentaire"
                                             title="Modification Commentaire"
                                             width="800"
                                             height="600"
                                             sandbox="allow-scripts allow-forms allow-same-origin allow-modals"
                                             src="{{path('user_ingredient_new',{'recette_id': id })}}">
                                     </iframe>
                                 </article>              
                             </div>
		                 </div>
	                 </div>
                 </main>
              
                 {# <a href="{{ path('recette_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">                                
                     Retour à la liste
                 </a> #}

             </article>

         </main>
<script type="text/javascript" src="{{asset('js/modalCommentaireButton.js')}}"></script> 
     {% endblock %}

        