

{% extends 'base.html.twig' %}

{% block title %}Préview Recette{% endblock %}

{% block body %}
{{dump(recette)}}
{{dump(listeIngredient)}}
{{dump(listeEtapes)}}
{{dump(nombreEtapes)}}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if recette.image %}
                    {{recette.image}}
                {% endif %}
                <h1>{{recette.name}} Prévisualisation</h1>
            </div>
            <div class="col-12">
                <h2>pour {{recette.NbPersonnes}} Convives</h2>
            </div>
            <div class="container row col-12">
                {% for ingredients in listeIngredient %}
                    <div class="col-6">
                    <p>{{ingredients.IngredientsId.name}} : {{ingredients.Quantite}} {{ingredients.UnitemesureId.name}}</p> 
                    </div>
                {% endfor %}
            </div>
            <div class="col-6">
                <p>
                    Temps de préparation : {{recette.TempsPreparation}} minutes.
                </p>
            </div>
            <div class="col-6">
                <p>Difficulté: 
                    {% if recette.Difficulte == 1 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% elseif recette.Difficulte == 2 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% elseif recette.Difficulte == 3 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% else %}
                    something went wrong ! 
                    {% endif %}
                </p>
            </div>
            <div class="col-6">
                <p>
                    Temps de cuisson : {{recette.TempsCuisson}} minutes.
                </p>
            </div>
            <div class="col-6">
                <p>
                    Note : Votre recette n'est pas encore publié, elle n'a donc pas de note pour le moment.
                </p>
            </div>
            <div class="col-12">
            <button class="col-12 btn btn-success btn-lg px-4 gap-3"> passer en mode slideshow. </button>
            </div>
            <div class="col-12">
                {% for etapes in listeEtapes %}
                    {% if etapes.image %}
                        <div class ="col-6">
                            <img src="#" alt="image de l'étape"/>
                            image de l'étapes
                        </div>
                        <div class="col-6">
                            <h2>{{etapes.name}}</h2>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <h2>{{etapes.name}}</h2>
                        </div>
                    {% endif %}
                    <div class="col-12 row">
                        <div class="col-1">
                            {{etapes.isNumber}} / {{nombreEtapes}}
                        </div>
                        <div class="col-10">
                            {{etapes.description}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12 row previewRecetteBoutonFin">
                <a class="col-2 btn btn-success btn-lg" href="{{path("recette_edit",{'id':recette.id} )}}">Modifier / corriger la recette.</a>
                <a class="col-2 btn btn-success btn-lg" href="{{path("recette_show",{'id':recette.id})}}">Voir la recette</a>
            </div>
        </div>
    </div>
{% endblock %}