 {# ? Partie : Prévisualisation recette #ModeUser #}
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Prévisualisation de recette "
     {% endblock %}

     {% block title %}
         Prévisualisation de recette
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <div class="text-center">

                 {# ********************* #}

                 <div class="container">

                     <div class="row">

                         {# ********************* #}

                         {# ? Partie: Titre & Image #}

                         <div class="col-12">

                             <h1> {{recette.name}} Prévisualisation </h1>
                           
                                 {% if recette.image %}

                                     <div class="col-12">
                                         <img src="{{asset('uploads/recettes/'~ recette.image)}}" style="max-width:100%"/>
                                     </div>

                                 {% endif %}

                         </div>

                         {# ********************* #}

                         {# ? Partie: Nombre de convives #}

                         <div class="col-12">

                             <h2> pour {{recette.NbPersonnes}} Convives </h2>

                         </div>

                         {# ********************* #}

                         {# ? Partie: Liste des ingrédients #}

                         <div class="container row col-12">

                             {% for ingredients in listeIngredient %}

                                 <div class="col-6">

                                     <p>
                                         {{ingredients.IngredientsId.name}} : {{ingredients.Quantite}} {{ingredients.UnitemesureId.name}} 
                                     </p> 
                               
                                 </div>

                             {% endfor %}

                         </div>

                         {# ********************* #}

                         {# ? Partie: Temps de préparation #}

                         <div class="col-6">

                             <p>
                                 Temps de préparation : {{recette.TempsPreparation}} minutes.
                             </p>

                         </div>

                         {# ********************* #}

                         {# ? Partie: Niveau de difficulté #}

                         <div class="col-6">

                             <p> Difficulté: 

                                 {% if recette.Difficulte == 1 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% elseif recette.Difficulte == 2 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% elseif recette.Difficulte == 3 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% else %}

                                     Oups ! Quelque chose d'imprévu s'est produit. 

                                 {% endif %}

                             </p>

                         </div>

                         {# ********************* #}

                         {# ? Partie: Temps de cuisson #}

                         <div class="col-6">

                             <p>
                                 Temps de cuisson : {{recette.TempsCuisson}} minutes.
                             </p>

                         </div>

                         {# ********************* #}

                         {# ? Partie: Note de la recette #}

                         <div class="col-6">

                             <p>
                                 Note : Votre recette n'est pas encore publié, elle n'a donc pas de note pour le moment.
                             </p>

                         </div>

                         {# ********************* #}

                         {# ? Partie: Slideshow #}

                         <div class="col-12">

                             <button class="col-12 btn btn-success btn-lg px-4 gap-3"> 
                                 Passer en mode Slideshow.
                             </button>
                      
                         </div>

                         {# ********************* #}

                         {# ? Partie: Liste des étapes #}

                         <div class="col-12">

                             {% for etapes in listeEtapes %}

                                 <div class="col-12 row">

                                     {# ? Partie: Numéro de l'étape #}

                                     <div class="col-1">

                                         <h3>
                                             {{etapes.isNumber}} / {{nombreEtapes}}
                                         </h3>

                                     </div>

                                     {# **************** #}

                                     {# ? Partie: Nom de l'étape #}

                                     <div class="col-11">

                                         <h3>
                                             {{etapes.name}}
                                         </h3>

                                     </div>

                                     {# **************** #}

                                     {% if etapes.image %}
                   
                                         {# ? Partie: Image de l'étape #}

                                         <div class ="col-6">
                                             <img src="{{asset('/uploads/etapes/'~ etapes.image)}}" alt="image de l'étape" style="max-width:100%"/>
                                         </div>
 
                                         {# ? Partie: Description de l'étape1 #}

                                         <div class="col-6">
                                             {{etapes.description}}
                                         </div>

                                     {% else %}

                                         {# ? Partie: Description de l'étape2 #}

                                         <div class="col-12">
                                             {{etapes.description}}
                                         </div>                                   

                                     {% endif %}

                                     {# **************** #}

                                 </div>    

                             {% endfor %}

                         </div>

                         {# **************** #}

                         {# ? Partie: Bouton d'action #}

                         <div class="col-12 row previewRecetteBoutonFin">

                             <a class="col-2 btn btn-success btn-lg" href="{{path("recette_edit",{'id':recette.id} )}}">
                                 Modifier / corriger la recette.
                             </a>

                             <a class="col-2 btn btn-success btn-lg" href="{{path("recette_show",{'id':recette.id})}}">
                                 Voir la recette
                             </a>
                     
                         </div>

                         {# **************** #}

                     </div>

                 </div>
         
     {% endblock %}