
{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>
{# recette:
{{dump(recette)}}
liste ingredients
{{dump(listeIngredient)}}
liste etapes
{{dump(listeEtapes)}}
nombre d'étapes
{{dump(nombreEtapes)}}
liste commentaire 
{{dump(listeCommentaires)}}
note moyenne
{{dump(moyenneNote)}}
have noted
{{dump(haveNoted)}} #}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if recette.image %}
                    {{recette.image}}
                {% endif %}
                <h1>{{recette.name}}</h1>
            </div>
            <div class="col-12">
                <h2>pour {{recette.NbPersonnes}} Convives</h2>
            </div>
            <div class="container row col-12">
                {% for ingredients in listeIngredient %}
                    <div class="col-6">
                    <p>{{ingredients.IngredientsId.name}} : {{ingredients.Quantite}} {{ingredients.UnitemesureId.name}}</p> 
                    </div>
                {% endfor %}
            </div>
            <div class="col-6">
                <p>
                    Temps de préparation : {{recette.TempsPreparation}} minutes.
                </p>
            </div>
            <div class="col-6">
                <p>Difficulté: 
                    {% if recette.Difficulte == 1 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% elseif recette.Difficulte == 2 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% elseif recette.Difficulte == 3 %}
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    <img src="{{asset("Images/toqueDificulte.png")}}">
                    {% else %}
                    something went wrong ! 
                    {% endif %}
                </p>
            </div>
            <div class="col-6">
                <p>
                    Temps de cuisson : {{recette.TempsCuisson}} minutes.
                </p>
            </div>
            <div class="col-6">
                <p>
                    Note : 
                    {% if moyenneNote == 0 %} 
                    Cette recette n'as pas encore reçu de Note
                    {% else %}
                    {{moyenneNote}}
                    {% endif %}

                    {# a mettre dans un template show_noted ??? #}
                    {# {% if noteUser %}
                    Vous avez notez cette recette : {{noteUser}}
                    {% endif %} #}
                </p>
            </div>
            <div class="col-6 placeholder">
            </div>
            {% if haveNoted == false %}
            <div class="col-6">
            {{ form_start(formNote) }}
                 {{ form_widget(formNote) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(formNote) }}
            </div>
            {% endif %}
            <div class="col-12">
            <button class="col-12 btn btn-success btn-lg px-4 gap-3"> passer en mode slideshow. </button>
            </div>
            <div class="col-12">
                {% for etapes in listeEtapes %}
                    {% if etapes.image %}
                        <div class ="col-6">
                            <img src="#" alt="image de l'étape"/>
                            image de l'étapes
                        </div>
                        <div class="col-6">
                            <h2>{{etapes.name}}</h2>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <h2>{{etapes.name}}</h2>
                        </div>
                    {% endif %}
                    <div class="col-12 row">
                        <div class="col-1">
                            {{etapes.isNumber}} / {{nombreEtapes}}
                        </div>
                        <div class="col-10">
                            {{etapes.description}}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12">
                <h2>commentaires : </h2>
                {% if listeCommentaires %}
                    {% for commentaire in listeCommentaires %}
                        <div class="col-4">
                            <p>
                                {{commentaire.userId.login}} : <br/>
                                le : {{commentaire.createdAt|date('d-m-Y')}} à {{commentaire.createdAt|date('h:i:s')}}
                                {% if commentaire.editedAt %}
                                <br/>
                                Modifier le : {{commentaire.editedAt|date('d-m-Y')}} a {{commentaire.editedAt|date('h:i:s')}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-12">
                            <p>
                            {# https://stackoverflow.com/questions/10487855/how-to-replace-break-lines-in-twig #}
                                {{commentaire.content|nl2br}}
                            </p>
                        </div>
                        {% if app.user %}
                            {% if app.user.id == commentaire.userId.id %}
                            <main class="modal_comment_{{commentaire.id}}">
                                <button type="button" class=" btn btn-success btn-lg login-position" data-bs-toggle="modal" data-bs-target="#Modal_{{commentaire.id}}">
                                    Modifier mon commentaire
                                </button>
                                {# ***** MODAL ***** #}
	                            <div class="login-box modal fade" id="Modal_{{commentaire.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		                            <div class="modal-dialog modal-dialog-centered">
			                            <div class="modal-content ">
                                            <section class="modal-header ">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Modifier mon commentaire 
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </section>
                                            <article class="modal-body">
                                                <iframe id="ModificationCommentaire"
                                                        title="Modification Commentaire"
                                                        width="300"
                                                        height="200"
                                                        sandbox="allow-scripts allow-forms allow-same-origin allow-modals"
                                                        src="{{path('commentaires_edit',{'id': commentaire.id})}}">
                                                </iframe>
                                            </article>              
                                        </div>
		                            </div>
	                            </div>
                            </main>
                            {# <div class="col-12">
                               <a href="{{path('commentaires_edit',{'id': commentaire.id})}}" class="btn btn-success btn-lg">Modifier mon commentaire</a>
                            </div> #}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>
                        Il n'y as pas encore de commentaires. 
                    </p>
                {% endif %}
            </div>
            {% if app.user %}
            <div class="col-12">
            Laisser un commentaire : 
            {{ form_start(formCommentaire) }}
                 {{ form_widget(formCommentaire) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(formCommentaire) }}
            </div>
            {% endif %}
    <script type="text/javascript" src="{{asset('js/modalCommentaireButton.js')}}"></script> 
    {# {{ include('recette/_delete_form.html.twig') }} #}
{% endblock %}
