{% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Recette "
     {% endblock %}

     {% block title %}
         Recette
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="text-center">  

                 {# ? Partie n°0: Titre de la page #}
  
                 <section>
    
                     <h1> Recette </h1>
         
                         <hr/>

                             <p> 
                                 <em> Consulter la liste de nos recettes </em>  📓
                             </p>

                         <hr/>

                 </section>

                 {# ************************************************** #} 

                 {# ? Partie n°1: Carte de la recette > Titre/Image/Favoris #}

                 <article class="flex-container">

                     <div class="text-center p-4 text-white rounded bg-dark">    

                         <div class="row">

                             {# ? Partie: Titre de la recette #}
         
                              <section class="col-md-12">

                                 <hr id="homeDivider3"/>

                                     {# ? Partie: Titre de la recette #}

                                     <h2 class=" card-title mb-3 rounded"> {{recette.name}} 🍴 </h2>

                                     {# ? Partie: Note de la recette #}

                                     <legend> ⭐⭐⭐⭐⭐ </legend> 

                                     <h6 class="card-subtitle mb-2 text-muted">
                                         
                                         Note : 

                                             {% if moyenneNote == 0 %} 
                                                 Cette recette n'as pas encore reçu de Note
                                             {% else %}
                                                 {{moyenneNote}}
                                             {% endif %}

                                             {# <span> 8,201+ reviews </span>  #}

                                     </h6>

                                  <hr id="homeDivider4"/>   

                              </section>   

                             {# ? Partie: Image de la recette #}     

                             <section class="col-md-12 card-body"> 

                                 {% if recette.image %}

                                     <figure class="cardImage col-12">
                                         <img src="{{asset('uploads/recettes/'~ recette.image)}}" style="max-width:100%"/>
                                     </figure>

                                 {% endif %}                       

                             </section>

                             <hr id="homeDivider1"/>

                         </div>    

                         {# ************************* #} 

                         <div class="row">        

                             {# ? Partie: Temps de préparation #}

                             <section class="col-4">

                                 {# <p> Temps de préparation ⏰ : {{recette.TempsPreparation}} minutes. </p> #}
                                 <p> 
                                     <abbr title="Temps de préparation"> 
                                         <span id="emojiRecette"> ⏰ </span>
                                     </abbr> 
                                     
                                     {{recette.TempsPreparation}} minutes. 

                                </p>

                             </section>

                             {# ? Partie: Temps de cuisson #}

                             <section class="col-4">

                                 <abbr title="Temps de cuisson"> 
                                     <img id="emojiRecette" src="{{asset("Images/iconeFour.png")}}">
                                  </abbr>

                                 {{recette.TempsCuisson}} minutes. 

                             </section> 

                             {# ? Partie: Niveau de difficulté #}

                             <section class="col-4">

                                 {# <p>  #}

                                     <abbr title="Difficulté"> 

                                         <img id="emojiRecette" src="{{asset("Images/toqueDificulte.png")}}"> 

                                         {% if recette.Difficulte == 1 %}

                                             {# <img src="{{asset("Images/toqueDificulte.png")}}"> #}
                                             {# <p>  #}
                                                 Facile 
                                             {# </p> #}

                                         {% elseif recette.Difficulte == 2 %}

                                             {# <img src="{{asset("Images/toqueDificulte.png")}}">
                                             <img src="{{asset("Images/toqueDificulte.png")}}"> #}
                                             {# <p>  #}
                                                 Intermédiaire
                                             {# </p> #}

                                         {% elseif recette.Difficulte == 3 %}

                                             {# <img src="{{asset("Images/toqueDificulte.png")}}">
                                             <img src="{{asset("Images/toqueDificulte.png")}}">
                                             <img src="{{asset("Images/toqueDificulte.png")}}"> #}
                                             {# <p>  #}
                                                 Difficile 
                                             {# </p> #}

                                         {% else %}

                                             Oups ! Quelque chose ne s'est pas bien déroulé. 

                                         {% endif %}

                                     </abbr>    

                                 {# </p> #}

                             </section>

                         </div>        

                         <hr id="homeDivider2"/>

                         {# ************************* #}
                        
                         {# ? Partie: Bouton Sauvegarder la note #}

                         <div class="row">    

                             {% if haveNoted == false %}

                                 <div class="col-12">

                                     {{ form_start(formNote) }}

                                          {{ form_widget(formNote) }}

                                         <button class="col-12 btn btn-success bg-gradient">
                                             {{ button_label|default('Sauvegarder') }}
                                         </button>

                                     {{ form_end(formNote) }}

                                 </div>

                             {% endif %}

                         </div>  

                         {# ************************* #}

                         {# ? Partie: Favoris #}    

                         <div class="row">          

                             {% if app.user %}

                                 {# ************************* #} 

                                 {# ? Partie: Ajouter la recette en Favoris #} 
                                
                                 {% if recette not in user.getRecettesFavId() %}

                                     {{ form_start(formFavori) }}

                                         <section class="col-12">

                                             <button type="submit" id="favori_ajoutFavori" name="favori[ajoutFavori]" class="form-control"><img style="width:40px" src="/Images/heartempty.png" alt="coeur vide">
                                                 Ajouter la recette en favori {{ form_row(formFavori.ajoutFavori, {'attr': {'label': ' Ajouter en favori :', 'style': 'display:none'}}) }}
                                             </button>
                                         
                                         </section>
                                         
                                     {{ form_end(formFavori) }}

                                 {# ************************* #}  
                                   
                                 {# ? Partie: Retirer la recette des Favoris #}

                                 {% else %}

                                     {{ form_start(removeFavori) }}

                                         <section class="btn-group col-12">

                                             <button type="submit" id="remove_favori_enleverFavori" name="remove_favori[enleverFavori]" class="form-control" label=" ">
                                           
                                                 <img style="width:40px" src="/Images/heart.png" alt="coeur plein">
                                                 Retirer la recette des favoris
                                                 {{ form_row(removeFavori.enleverFavori, {'attr': {'label': ' ', 'style': 'display:none'}}) }}

                                             </button>
                                       
                                         </section>
                                    
                                     {{ form_end(removeFavori) }}

                                 {% endif %}

                                 {# ************************* #}
                            
                             {% endif %}

                         </div>

                     </div>

                 </article>   

                 <hr/> 

                 {# ************************************************** #}      

                 {# ? Partie n°2: Détails de la recette/commmentaires #}

                 <div class="flex-container3 row p-5"> 

                     {# ? Partie: Nombre de personnes #}

                     <div class="col-12 text-center">

                         {# <hr/>  #}

                         <h2> Pour {{recette.NbPersonnes}} Convives </h2>
                            
                     </div>

                     {# ? Partie: Nom de l'ingrédient #}

                     <div class="container row col-12 text-center">

                         {% for ingredients in listeIngredient %}
                         
                             {# <div class="col-6"> #}
                             <div>

                                 <p> 

                                     <h6> Ingrédient(s) de la recette<h6> 

                                     <br/>
                                 
                                         <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                             {{ingredients.IngredientsId.name}} : 
                                             {{ingredients.Quantite}} 
                                             {{ingredients.UnitemesureId.name}}
                                
                                 </p> 
                           
                             </div>

                             {# <hr/>  #}

                         {% endfor %}

                     </div>

                 </div>

                 {# ************************* #}   
 
                 {# ? Partie n°3: SlideShow #}

                 <article class="row">              

                     <section class="col-12">

                         <button class="col-12 btn btn-success btn-lg px-4 gap-3">
                             Passer en mode " Slideshow ". 
                         </button>

                     </section>

                 </article> 

                 <hr/>      

                 {# ? Partie: Contenu de Slideshow #}

                 {% for etapes in listeEtapes %}

                     <div class="col-12 row">

                         {# ************************* #}

                         {# ? Partie: Numéro de l'étape #}
                     
                         <div class="col-1">

                             <h3> {{etapes.isNumber}} / {{nombreEtapes}} </h3>

                         </div>

                         {# ************************* #}

                         {# ? Partie: Nom de l'étape #}

                         <div class="col-11">

                             <h3> {{etapes.name|capitalize }} </h3>

                         </div>

                         {# ************************* #}

                         {# ? Partie: Image de l'étape #}

                         {% if etapes.image %}

                             <div class ="col-6">
                                 <img src="{{asset('/uploads/etapes/'~ etapes.image)}}" alt="image de l'étape" style="max-width:100%"/>
                             </div>

                             <div class="col-6">
                                 {{etapes.description|capitalize }}
                             </div>

                             {% else %}

                                 <div class="col-12">
                                     {{etapes.description|capitalize }}
                                 </div>

                             </div>

                         {% endif %}

                     </div>

                 {% endfor %}     

                 {# ************************* #}

                 {# ? Partie: Commentaires #}

                 <div class="bg-dark text-white p-5 rounded">

                     {# ? Partie: Laisser un commentaire #}

                     {% if app.user %}

                         <div class="col-12">

                             {# ************************* #}

                             <hr id="homeDivider1"/>

                                 <h2 class=" mb-4"> Laisser un commentaire </h2>

                             <hr id="homeDivider2"/>

                             {# ************************* #}

                             {{ form_start(formCommentaire) }}

                                 {# ? Bouton action: Sauvegarder mon commentaire #}

                                 {{ form_widget(formCommentaire) }}

                                     <br/>

                                     <button type="button" class="btn btn-success btn-lg bg-gradient col-12 text-white">
                                         {{ button_label|default('Sauvegarder') }}
                                     </button>

                             {{ form_end(formCommentaire) }}

                         </div>

                     {% endif %}

                     {# ? Partie: Titre de la section #}

                     <hr id="homeDivider1"/>      

                         <h2 class="col 12 mb-4"> Commentaires : </h2>

                     <hr id="homeDivider2"/>   

                     {# ************************* #}
                     
                     {% if listeCommentaires %}

                         {% for commentaire in listeCommentaires %}

                             {# ************************* #}

                             {# ! todo: j'ai zjouter l'avatar à la partie commentaire mais je ne suis pas sur ca fonctionne. a corriger #}

                             <div class="d-flex text-muted pt-3">                          

                                 {# {% if user.0.avatar %} #}
                                 {% if user.avatar %}

                                     <figure>
                                         <img id="cardAvatar" class="card-img-top" alt="Image de l'avatar de l'utilisateur" src="{{ asset('uploads/avatar/' ~ user.avatar) }}"/>
                                         {# <img src="{{asset("uploads/avatar")}} "alt="Image de l'avatar de l'utilisateur"> #}
                                     </figure>

                                 {% else %}
                                     
                                     <div class="col-4 text-center "> 
                                         <img id="avatarUser"src="/logo.png" alt="Logo du site" >
                                     </div>
                
                                     {# <h2> Pas d'avatar disponible </h2> <br/> #}
                                     {# <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
                                         <title>Placeholder</title>
                                         <rect width="100%" height="100%" fill="#007bff"></rect>
                                         <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                                     </svg> #}
                                    
                                 {% endif %}

                                 <div class="pb-0 mb-0 small lh-sm border-bottom w-100">

                                     <div class="d-flex justify-content-between">

                                         <strong class="text-white">

                                             {{commentaire.userId.login}} :

                                         </strong>

                                         {# ? Partie: Modifier commentaire #}

                                         <div class="col-md-0 themed-grid-col">
                                                
                                             {% if app.user %}

                                                 {% if app.user.id == commentaire.userId.id %}

                                                     <main class="modal_comment_{{commentaire.id}}">

                                                         {# ? Bouton action: Modifier mon commentaire #}

                                                         <button type="button" class=" btn btn-primary btn-lg login-position" data-bs-toggle="modal" data-bs-target="#Modal_{{commentaire.id}}">
                                                             {# Modifier mon commentaire #}
                                                             {# <i class="fa fa-ellipsis-v" aria-hidden="true"></i> #}

                                                             <abbr title="Modifier"> 
                                                                 <i class="fa fa-indent" aria-hidden="true"></i>
                                                             </abbr>    

                                                         </button>                              

                                                         {# ! todo: il nous manque la fonction "supprimer un commentaire". j'ai essayer mais j'ai pas réussi à l'implémenter #}                                                                                                                                              
                                                         {# ! todo: j'ai pas réussi à modifier, replacer la partie " laisser un commentaire ainsi que le frame. faudrait les re-centrer, je dois revenir dessus. CJ_ #}

                                                         {# ***** MODAL ***** #}

                                                         <div class="login-box modal fade" id="Modal_{{commentaire.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        
                                                             <div class="modal-dialog modal-dialog-centered" style="width:900px;max-width:1200px!important">
                                                        
                                                                 <div class="modal-content ">

                                                                     {# ************************* #}

                                                                     <section class="modal-header ">

                                                                         <h5 class="modal-title" id="exampleModalLabel">
                                                                             Modifier mon commentaire 
                                                                         </h5>
                                                                       
                                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                   
                                                                     </section>

                                                                     {# ************************* #}

                                                                     <article class="modal-body">
 
                                                                         <iframe id="ModificationCommentaire"
                                                                                 title="Modification Commentaire"
                                                                                 width="800"
                                                                                 height="600"
                                                                                 sandbox="allow-scripts allow-forms allow-same-origin allow-modals"
                                                                                 src="{{path('commentaires_edit',{'id': commentaire.id})}}">
                                                                         </iframe>
                                                                  
                                                                     </article>  

                                                                     {# ************************* #}
                                                                               
                                                                 </div>

                                                             </div>

                                                         </div>

                                                         {# ************************* #}

                                                     </main>
                                             
                                                 {% endif %}

                                             {% endif %}

                                         </div>

                                         {# ************************* #}

                                     </div>
                                  
                                     <span class="d-block text-white ">

                                         <p>
                                             @{{commentaire.content|capitalize|nl2br}}
                                         </p>

                                     </span>

                                     {# ************************* #}

                                     {# ? Partie: Information sur le commentaire #}

                                     <div class="col-md-4 themed-grid-col">

                                         <p>
                                             Le {{commentaire.createdAt|date('d-m-Y')}} à {{commentaire.createdAt|date('h:i:s')}}
                                         </p>    

                                         <br/>

                                         {% if commentaire.editedAt %}

                                             Modifier le :
                                             {{commentaire.editedAt|date('d-m-Y')}} a {{commentaire.editedAt|date('h:i:s')}}
                                    
                                         {% endif %}

                                     </div>

                                 </div>

                             </div>

                         {% endfor %}

                     {% else %}

                         <p>
                             Il n'y as pas encore de commentaires. 
                         </p>

                     {% endif %}

                 </div> 

                 {# ************************* #}

                 <br/>

                 {# ? Bouton action: Retour à la liste #}

                 <div>

                     <a href="{{ path('recette_index') }}" type="submit" class="btn btn-success col-12 btn-lg">                                
                          Retour à la liste
                     </a>    

                 </div>

                 {# ************************* #}
 
             </div>

         </main>     

         {# *** *** *** **** *** *** #}

         <script type="text/javascript" src="{{asset('js/modalCommentaireButton.js')}}"></script> 
         
         {# {{ include('recette/_delete_form.html.twig') }} #}

     {% endblock %}
     