{% extends 'base.html.twig' %}

{% block title %}Interface administration{% endblock %}

{% block body %}
<h1 class="h1Title">Interface D'Administration</h1>
    <div class="container">
        <div class="row">
            <div class="col-6 administrationCard">
                <a href="{{path("user_index")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les utilisateurs 
                    </p>
                </a>
            </div>
            <div class="col-6 administrationCard">
                <a href="{{path("administration_recette_index")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/cuisineBg1.jpg')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les recettes
                    </p>
                </a>
            </div>
            <div class="col-6 administrationCard">
                <a href="{{path("administration_comentaires_index")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/bulleText.png')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les commentaires
                    </p>
                </a>
            </div>
            <div class="col-6 administrationCard">
                <a href="{{path("categories")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/dossier.jpg')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les catégories
                    </p>
                </a>
            </div>
            <div class="col-6 administrationCard">
                <a href="{{path("administration_ingredients_index")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/ingrédients.jpg')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les ingédients 
                    </p>
                </a>
            </div>
            <div class="col-6 administrationCard">
                <a href="{{path("unite_mesure_index")}}">
                    <div class="cardImage">
                        <img class="administrationLogo col-6" src="{{asset ('Images/mesures.jpg')}}" alt="image d'une persone type emoji">
                    </div>
                    <p class="administrationTitle">
                        Gérer les unitées de messures 
                    </p>
                </a>
        </div>
    </div>
{% endblock %}

                                         {# ***** Gestion des recettes ***** #}
                                         {# <h6> <kbd> Gestion de la cuisine </kbd> </h6> 

                                             <li> <a class="dropdown-item" href="#"> Gérer le livre de recettes </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les ingrédients </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les catégories </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les cuissons </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les régimes alimentaires </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les type de plats </a> </li>

                                             <li> <hr class="dropdown-divider"> </li> #}

