 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Interface d'administration "
     {% endblock %}   

     {% block title %}
         Interface d'administration
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <section class="text-center">     
 
                 <h1 class="h1 mb-3 font-weight-normal"> Interface d'administration </h1>

             </section>      

                 {# ******************************************** #}
 
                 <hr style="color:white;"/>

                 {# ******************************************** #}

                 {# ? Partie: Les dernierès recettes. #}

                 <article class="container">

                         <div class="text-center">

                                 {# ******************** #}

                                     <div class="text-center p-4 p-md-5 mb-4 text-white rounded bg-dark">                               
                                       
                                         <div class="col-md-12 px-0">                       
                                            
                                             <div class="row">

                                                 {# ******************** #}

                                                 {# ? Carte n°1: Gérer les utilisateurs  #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("user_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 UTLISATEURS
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°2: Gérer les recettes  #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("administration_recette_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 RECETTES
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°3: Gérer les commentaires #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("administration_comentaires_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 COMMENTAIRES
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}
 
                                                 {# ? Carte n°4: Gérer les catégories #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("categories")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 CATÉGORIES
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>
                                              
                                                 {# ******************** #}

                                                 {# ? Carte n°5: Gérer les ingrédients #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("administration_ingredients_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 INGRÉDIENTS
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°6: Gérer les unités de mesures #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="image d'une persone type emoji">
                                                             </figure>
                                                             
                                                             <button href="{{path("unite_mesure_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 UNITÉES DE MESURES
                                                             </button> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>
                                              
                                                 {# ******************** #}

                                             </div>

                                         </div>         

                                     </div>

                     </div>
 
                 </article>

             </main>
  
     {% endblock %}