{% extends 'base.html.twig' %}

{% block title %}Interface administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>
                    <a href="{{path("user_index")}}">Gérer les utilisateurs </a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("administration_recette_index")}}">Gérer les recettes</a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("administration_comentaires_index")}}">Gérer les commentaires</a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("categories")}}">Gérer les catégories</a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("administration_ingredients_index")}}">Gérer les ingédients </a>
                </p>
            </div>
            <div class="col-6">
                <p>
                    <a href="{{path("unite_mesure_index")}}">Gérer les unitées de messures </a>
                </p>
        </div>
    </div>
{% endblock %}

                                         {# ***** Gestion des recettes ***** #}
                                         {# <h6> <kbd> Gestion de la cuisine </kbd> </h6> 

                                             <li> <a class="dropdown-item" href="#"> Gérer le livre de recettes </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les ingrédients </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les catégories </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les cuissons </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les régimes alimentaires </a> </li>
                                             <li> <a class="dropdown-item" href="#"> Gérer les type de plats </a> </li>

                                             <li> <hr class="dropdown-divider"> </li> #}

