 {# ? Partie: Interface d'administration  #}

 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Interface d'administration "
     {% endblock %}   

     {% block title %}
         Interface d'administration
     {% endblock %}
     
     {% block body %}

         <main class="Form"> 

             <section class="text-center">     
 
                 <h1 class="h1 mb-3 font-weight-normal"> Interface d'administration </h1>
             
                 <p class="lead"> 
                     <em> Choisissez la section que vous voulez gérer ! </em>
                 </p>

             </section>      

                 {# ******************************************** #}
 
                 <hr style="color:white;"/>

                 {# ******************************************** #}

                 {# ! Les images doivent etre redimensionnées en 380x380px comme l'avatar pour ne pas détruire la structure du site... #}
                 {# ! Je dis ca je dis rien... C'est important de dire les choses #}
                 {# ! Non parce que si on le dit pas heiin!? Et bah forcément ca seras pas dit ! #}

                 {# ? Partie: Les dernierès recettes. #}

                 <article class="container">

                         {# <div class="text-center"> #}

                                 {# ******************** #}

                                     <div class="text-center p-4 p-md-5 mb-4 text-white rounded bg-dark">                               
                                       
                                         <div class="col-md-12 px-0">                       
                                            
                                             <div class="row">

                                                 {# ******************** #}

                                                 {# ? Carte n°1: Gérer les utilisateurs  #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/avatar.png')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("user_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 UTILISATEURS
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°2: Gérer les recettes  #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/cuisineBg1.jpg')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("administration_recette_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 RECETTES
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°3: Gérer les commentaires #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/Galerie(3).png')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("administration_comentaires_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 COMMENTAIRES
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}
 
                                                 {# ? Carte n°4: Gérer les catégories #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/beverage.jpg')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("categories")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 CATÉGORIES
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>
                                              
                                                 {# ******************** #}

                                                 {# ? Carte n°5: Gérer les ingrédients #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/JunkFood.jpg')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("administration_ingredients_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12">                                
                                                                 INGRÉDIENTS
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>

                                                 {# ******************** #}

                                                 {# ? Carte n°6: Gérer les unités de mesures #}

                                                 <section class="col-sm-3 administrationCard">

                                                     <div class="carteBg1 card mb-3">

                                                         <div class="card-body">

                                                             <figure class="cardImage">
                                                                 <img class="administrationLogo col-6" src="{{asset ('Images/mesure2.jpg')}}" alt="Image de type emoji, d'une personne. Cette image représente la section UTILISATEUR">
                                                             </figure>
                                                             
                                                             <a href="{{path("unite_mesure_index")}}" type="submit" class="btn btn-success bg-gradient btn-lg col-12 ">                                
                                                                 MESURES
                                                             </a> 
                                                    
                                                         </div>

                                                     </div>

                                                 </section>
                                              
                                                 {# ******************** #}

                                             </div>

                                         </div>         

                                     </div>

                     {# </div> #}
 
                 </article>

             </main>
  
     {% endblock %}