 {# {% extends 'base.html.twig' %} #}
 
     {# {% block title %}
         Modifier vottre commentaire
     {% endblock %} #}
     
     {# {% block body %} #}

     <div class="example-wrapper">

         {# *****  Script: Bootstrap ***** #}
         <link rel="stylesheet" href="{{ asset ('bootstrap/css/bootstrap.min.css') }}">
         <script src="{{asset ('bootstrap/js/bootstrap.bundle.min.js')}}" ></script>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
     
         <div class="row col-12">

             {{ form_start(form, { 

                 'attr': {
                     'id': 'edit_com'
                 }
                 
             }) }}

                 <div class="col-12">

                     {{form_label (form.content, 'Modifier le contenu de votre commentaire:')}}
               
                 </div>

                 <br/>

                 <div class="col-12">
               
                     {{form_widget (form.content, {

                         'attr': {
                             'class':'col-12',
                             'style':'height:210px'
                         }

                     })}}

                 </div>

                 <br/>

                 <button class="{{id}} btn btn-dark btn-lg col-12 px-4 com_bouton" type="submit" id="bouton" >
                     {{ button_label|default('Sauvegarder ✅') }} 
                 </button>

             {{ form_end(form) }}
        
         </div>

     </div>     


     {# {% endblock %} #}
     