{% extends 'base.html.twig' %}

{% block title %}Alimentation index{% endblock %}

{% block body %}
    <h1>Alimentation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alimentation in alimentations %}
            <tr>
                <td>{{ alimentation.id }}</td>
                <td>{{ alimentation.name }}</td>
                <td>
                    <a href="{{ path('administration_alimentation_show', {'id': alimentation.id}) }}">show</a>
                    <a href="{{ path('administration_alimentation_edit', {'id': alimentation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_alimentation_new') }}">Create new</a>
{% endblock %}
