 {% extends 'base.html.twig' %}
     
     {% block title %}
         Alimentation index
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>

                     <h1> Gestion des types d'alimentation </h1>
     
                         <hr/>

                             <p> 
                                 <em> Consulter la liste des types d'alimentations et les administrés. </em>  📓
                             </p>

                         <hr/>

                 </section>
     
                 {# *********************************************** #}

                 <article> 

                     <table class="table table-dark table-hover">

                         <thead>

                             <tr>
                                 <th> Id </th>
                                 <th> Name </th>
                                 <th> Actions </th>
                             </tr>

                         </thead>

                         <tbody>

                         {% for alimentation in alimentations %}

                             <tr>

                                 <td> {{ alimentation.id }} </td>
                                 <td> {{ alimentation.name }} </td>

                                 <td>

                                     <section class="btn-group">
                                  
                                         <a href="{{ path('administration_alimentation_show', {'id': alimentation.id}) }}" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                             Voir
                                         </a>

                                         <a href="{{ path('administration_alimentation_edit', {'id': alimentation.id}) }}" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                             Modifier
                                         </a>
                                  
                                     </section>

                                 </td>

                             </tr>

                         {% else %}

                             <tr>
                                 <td colspan="3"> Aucun élément ne correspond à votre recherche </td>
                             </tr>

                         {% endfor %}

                         </tbody>

                     </table>

                     {# *********************************************** #}
     
                     <hr/>

                     <section class="btn-group-vertical col-12 ">

                         <a href="{{ path('administration_alimentation_new') }}" class="btn btn-dark col-12 btn-lg px-4 gap-3">
                             Créer un nouveau type d'alimentation
                         </a>
      
                         <a href="{{ path('categories') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">
                              Retour à la gestion des catégories
                         </a>    

                     </section>    

                     {# *********************************************** #} 

                 </article>

             </div>

         </main>  
       
     {% endblock %}
     