{% extends 'base.html.twig' %}

{% block title %}Alimentation{% endblock %}

{% block body %}
    <h1>Alimentation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alimentation.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ alimentation.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('administration_alimentation_index') }}">back to list</a>

    <a href="{{ path('administration_alimentation_edit', {'id': alimentation.id}) }}">edit</a>

    {{ include('administration_alimentation/_delete_form.html.twig') }}
{% endblock %}
