 {% extends 'base.html.twig' %}
     
     {% block title %}
         Hello RecetteEditIngredientsController!
     {% endblock %}
     
     {% block body %}
     
         <main class="Form">   
      
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>
    
                     <h1> édition de l'ingrédient :  {{ingredient.ingredientsId.name}} de la recette {{recette.0.name}}</h1>
               
                         <hr/>

                             <p> 
                                 {# <em> Consulter la liste des utlisateurs de votre site et administrer leurs droits. </em>  📇  #}
                             </p>

                         <hr/>

                 </section>

                 {# *********************************************** #}

                 <article>

                     {{dump(recette)}}
                    
                     {{dump(ingredient)}}
                    
                         {{ form_start(form) }}
                        
                             {{ form_widget(form) }}
                        
                                 <button class="btn">
                                     {{ button_label|default('Mettre à jour') }}
                                 </button>
                        
                         {{ form_end(form) }}

                 </article>
                 
                 {# *********************************************** #}
         
             </div>

         </main>
 
     {% endblock %}
 