 {# ? Feuille : Gestion des plats #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}

     {% block metaTitle %}
         " Gestion des plats "
     {% endblock %}
   
     {% block title %}
         Gestion des plats
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <section class="text-center">
    
                 <h1 class="h1 mb-3 font-weight-normal"> Gestion des plats </h1>
         
                 <p class="lead"> 
                     <em> Consulter la liste des types de plats et les administrés. </em>  📓
                 </p>

             </section>
     
             <article> 

                 <table class="table table-dark table-hover">

                     <thead>

                         <tr>
                             <th> Id </th>
                             <th> Nom </th>
                             <th> Actions </th>
                         </tr>

                     </thead>

                     <tbody>

                         {% for plat in plats %}

                             <tr>
                             
                                 <td> {{ plat.id }} </td>
                                 <td> {{ plat.name }} </td>

                                 <td>
                                   
                                     <section class="btn-group">

                                         <a href="{{ path('administration_plats_show', {'id': plat.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12"> 
                                             Voir 
                                         </a>

                                         <a href="{{ path('administration_plats_edit', {'id': plat.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                             Modifier 
                                         </a>
                               
                                     </section>

                                 </td>

                             </tr>

                         {% else %}

                             <tr>
                                 <td colspan="3"> Aucun élément ne correspond à votre recherche </td>
                             </tr>

                         {% endfor %}

                     </tbody>

                 </table>
     
                 <a href="{{ path('administration_plats_new') }}" class="btn btn-success col-12 btn-lg px-4 gap-3"> Créer un nouveau plat </a>
     
             </article>

         </main>     

     {% endblock %}
     