{% extends 'base.html.twig' %}

{% block title %}Cuisson index{% endblock %}

{% block body %}
    <h1>Cuisson index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuisson in cuissons %}
            <tr>
                <td>{{ cuisson.id }}</td>
                <td>{{ cuisson.name }}</td>
                <td>
                    <a href="{{ path('administration_cuisson_show', {'id': cuisson.id}) }}">show</a>
                    <a href="{{ path('administration_cuisson_edit', {'id': cuisson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('administration_cuisson_new') }}">Create new</a>
{% endblock %}
