 {# ? Feuille : Gestion des cuissons #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Gestion des cuissons "
     {% endblock %}

     {% block title %}
         Gestion des cuissons
     {% endblock %}
     
     {% block body %}

         <main class="Form">  
 
             <div class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>

                     <h1> Gestion des cuissons </h1>
      
                         <hr/>

                             <p> 
                                 <em> Consulter la liste des types de cuissons et les administrés. </em>  📓
                             </p>

                         <hr/>

                 </section>
     
                 {# *********************************************** #}

                 {# ? Partie: Barre de recherche User #}

                 <h6> <kbd> Barre de recherche par filtre en cours d'intégration: Work In Progress ⚠️ </kbd> </h6>
                 <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Entrer un mot clé pour effectuer une recherche rapide...">

                 <article> 

                     <table id="myTable" class="table table-dark table-hover">

                         <thead>

                             <tr class="header">
                                 <th> Id </th>
                                 <th> Nom du type de cuisson </th>
                                 <th> Actions </th>
                             </tr>

                         </thead>

                         {# ! todo: La fonction " Barre de recherche ne fonctionne pas encore. #}
                         {# ! Je voudrais intégrer une barre de recherche > qui appplique un filtre sur nos champs #}
                         {# !  Table filtre > Source: https://www.w3schools.com/howto/howto_js_filter_table.asp #}

                         <script>

                             function myFunction() {

                                 // Declare variables
                                 var input, filter, table, tr, th, i, txtValue;
                                 input = document.getElementById("myInput");
                                 filter = input.value.toUpperCase();
                                 table = document.getElementById("myTable");
                                 tr = table.getElementsByTagName("tr");
                             
                                 // Loop through all table rows, and hide those who don't match the search query
                                 for (i = 0; i < tr.length; i++) {

                                     th = tr[i].getElementsByTagName("th")[0];

                                     if (th) {

                                         txtValue = th.textContent || th.innerText;

                                         if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                             tr[i].style.display = "";
                                         } 
                                         
                                         else {
                                             tr[i].style.display = "none";
                                         }

                                     }

                                 }


                             }

                         </script>

                         <tbody>

                         {% for cuisson in cuissons %}

                             <tr>

                                 <td> {{ cuisson.id }} </td>
                                 <td> {{ cuisson.name }} </td>
                              
                                 <td>
 
                                     <section class="btn-group">

                                         <a href="{{ path('administration_cuisson_show', {'id': cuisson.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                             Voir
                                         </a>

                                         <a href="{{ path('administration_cuisson_edit', {'id': cuisson.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 col-12">
                                             Modifier
                                         </a>
                              
                                     </section>

                                 </td>

                             </tr>
                             
                         {% else %}
                         
                             <tr>
                                 <td colspan="3"> Aucun élément ne correspond à votre recherche </td>
                             </tr>

                         {% endfor %}

                         </tbody>

                     </table>

                     {# *********************************************** #}
     
                     <hr/>

                     <section class="btn-group-vertical col-12 ">

                         <a href="{{ path('administration_cuisson_new') }}" class="btn btn-dark col-12 btn-lg px-4 gap-3">
                             Créer un nouveau type de cuisson 
                         </a>

                         <a href="{{ path('categories') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">
                             Retour à la gestion des catégories
                         </a>    

                     </section>    

                     {# *********************************************** #} 

                 </article>

             </div>

         </main>    
 
     {% endblock %}
     