  {# ? Feuille : Gestion des Types de cuissons #ModeAdmin #} 
 
 {% extends 'base.html.twig' %}
     
     {% block metaTitle %}
         " Type de cuissons "
     {% endblock %}

     {% block title %}
         Type de cuissons
     {% endblock %}
     
     {% block body %}

        <main class="Form"> 

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}
     
                 <section class="text-center">

                     <h1 class="plantFont"> 
                         Type de cuissons
                     </h1>
                   
                     <hr style="color:white;"/>

                         <p class="lead"> 
                             <em> Informations sur le type de cuisson ! </em> 👾
                         </p>

                     <hr style="color:white;"/>

                 </section>
      
                 {# *********************************************** #}

                 <article>

                     <table class="table table-dark table-hover">

                         <tbody>

                             <tr>
                                 <th> Id </th>
                                 <td> {{ cuisson.id }} </td>
                             </tr>

                             <tr>
                                 <th> Nom du type de cuisson </th>
                                 <td> {{ cuisson.name }} </td>
                             </tr>

                         </tbody>

                     </table>

                     </article>  

                 {# *********************************************** #}      
                   
                     <hr style="color:white;"/>

                     <article class="btn-group-vertical col-12">

                         <a href="{{ path('administration_cuisson_edit', {'id': cuisson.id}) }}"  type="submit" class="btn btn-dark col-12 btn-lg px-4 gap-3">
                             Modifier
                         </a>

                         <a href="{{ path('administration_cuisson_index') }}" type="submit" class="btn btn-success col-12 btn-lg px-4 gap-3">
                             Retour à la liste 
                         </a>      
                        
                     </article>

                     <hr style="color:white;"/> 

                     <article class="col-12"> 

                         {{ include('administration_cuisson/_delete_form.html.twig') }}
 
                     </article>

                     {# *********************************************** #}

             </div>

         </main>   

     {% endblock %}
