 {# ? Partie : Gestion des unités de mesures #ModeAdmin #}
 
 {% extends 'base.html.twig' %}

     {% block title %}
         Gestion des unités de mesures
     {% endblock %}
     
     {% block body %}

         <main class="Form">
                 
             <section class="text-center">
     
                 <h1 class=" mb-3 font-weight-normal"> Gestion des unités de mesures </h1>
          
                 <p class="lead"> 
                     <em> Consulter la liste des unités de mesures de votre site et les administrés. </em>  ⚖️
                 </p>

             </section>   

             <article>
     
                 <table class="table table-dark table-hover">

                     <thead>

                         <tr>
                             <th> Id </th>
                             <th> Nom de l'unité de mesure </th>
                             <th> Action </th>
                         </tr>

                     </thead>

                     <tbody>

                     {% for unite_mesure in unite_mesures %}

                         <tr>
                             <td> {{ unite_mesure.id }} </td>
                             <td> {{ unite_mesure.name }} </td>

                             <td>

                                 <section class="btn-group">

                                     <button href="{{ path('unite_mesure_show', {'id': unite_mesure.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 btn_spe">                                
                                         Voir
                                     </button> 

                                     <button href="{{ path('unite_mesure_edit', {'id': unite_mesure.id}) }}" type="submit" class="btn btn-success btn-lg px-4 gap-3 btn_spe">                                
                                         Modifier
                                     </button>   

                                 </section>

                             </td>

                         </tr>

                     {% else %}

                         <tr>
                             <td colspan="3"> Aucun élément ne correspond à votre recherche </td>
                         </tr>

                     {% endfor %}

                     </tbody>

                 </table>
     
                 <a type="submit" href="{{ path('unite_mesure_new') }}" class="btn btn-success col-12 btn-lg px-4 gap-3"> 
                     Créer une nouvelle unité de mesure
                 </a>

         </main>

     {% endblock %}
