 {# ? Feuille : Gestion des recettes #ModeAdmin #} 

 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Gestion des recettes "
     {% endblock %}

     {% block title %}
         Gestion des recettes
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div  class="py-5 text-center col-12">

                 {# *********************************************** #}

                 <section>
    
                     <h1> Gestion des recettes </h1>
         
                         <hr/>

                             <p> 
                                 <em> Consulter la liste des recettes de votre site et les administrés. </em>  📓
                             </p>

                         <hr/>

                 </section>

                 {# *********************************************** #}

                 <article>
     
                     <table class="table table-dark table-hover">

                         <thead>

                             <tr>
                                 <th> Id </th>
                                 <th> Nom </th>
                                 <th> Image </th>
                                 <th> Temps de préparation </th>
                                 <th> Temps de cuisson </th>
                                 <th> Nombre de personnes </th>
                                 <th> Difficulté </th>
                                 <th> Actions </th>
                             </tr>

                         </thead>

                         <tbody>

                             {% for recette in recettes %}
                             
                                 <tr>
                                     <td> {{ recette.id }} </td>
                                     <td> {{ recette.name }} </td>
                                     <td> {{ recette.image ? 'oui' : 'non' }}  </td>
                                     <td> {{ recette.tempsPreparation }} </td>
                                     <td> {{ recette.tempsCuisson }} </td>
                                     <td> {{ recette.nbPersonnes }} </td>
                                     <td> {{ recette.difficulte }} </td>

                                     <td>

                                         <section class="btn-group">
                                         
                                             <a href="{{ path('administration_recette_show', {'id': recette.id}) }}" type="submit" class="btn btn-success btn-lg col-12">
                                                 Voir
                                             </a>

                                             <a href="{{ path('administration_recette_edit', {'id': recette.id}) }}" type="submit" class="btn btn-success btn-lg col-12"> 
                                                 Modifier 
                                             </a>
                                  
                                         </td>

                                     </td>

                                 </tr>

                             {% else %}

                                 <tr>
                                     <td colspan="8"> Aucun élément ne correspond à votre recherche </td>
                                 </tr>

                             {% endfor %}

                         </tbody>

                     </table>
     
                     {# *********************************************** #}

                     <hr/>

                     <section class="btn-group-vertical col-12 ">

                         <a href="{{ path('administration_recette_new') }}" class="btn btn-dark col-12 btn-lg px-4 gap-3"> 
                             Créer une nouvelle recette
                         </a>
 
                         <a href="{{ path('interface_administration') }}" class="btn btn-success col-12 btn-lg px-4 gap-3">
                             Retour à l'interface d'administration
                         </a>    

                     </section>    

                     {# *********************************************** #}

                 </article>

             </div>       

         </main>  

     {% endblock %}
 