 <!DOCTYPE html>

     {# 
             CREDITS: 
             NOM DU DOCUMENT : PROJET BRAVO CUISTOT
             REALISATION INFORMATIQUE : Guillaume Debucquet (_GD), Jordan Carmont (_JD), Christophe Laborde (_CL)
             DATE DE CREATION : 13/01/2021
             DATE DE DERNIERE MODIFICATION : 18/04/2021 
     #}

     <html lang="fr">
     
        <head>

             <meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, initial-scale=1">
             <meta name="author" content="Guillaume Debucquet, Jordan Carmont, Christophe Laborde">       
             <meta name="description" content="Ceci est notre projet 'Bravo Cuistot' .">
             <meta name="robots" content="none" />

             <meta name=" Studio" content=
                 {% block metaTitle %} " PROJET BRAVO CUISTOT" {% endblock %}> 
             </meta>
           
             <title>
                 {% block title %} PROJET BRAVO CUISTOT {% endblock %}
             </title>

             <link rel="icon" src="Images/logo.ico" type="image/x-icon" alt="Logo du site">

             {% block stylesheets %}
             
                 {# *****  Script: Bootstrap ***** #}
                 <link rel="stylesheet" href="{{ asset ('bootstrap/css/bootstrap.min.css') }}">
                 <script src="{{asset ('bootstrap/js/bootstrap.bundle.min.js')}}" ></script>
                 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

                 {# ***** Script: JS - Fonctionnalité SideBar ***** #}
                 <script src="{{asset ('js/sidebar.js')}}"></script>

                 {# ***** Style CSS Fonctionnalité SideBar ***** #}
                 <link href="{{asset ('style/style_sidebar.css')}}" rel="stylesheet">

                 {# ***** Script Css Général ***** #}
                 <link href="{{asset ('style/style.css')}}" rel="stylesheet">

                 {# ***** Script NavBarAlien ***** #}
                 <link href="{{asset ('style/style_navAlien.css')}}" rel="stylesheet">

                 {# ? Script: Animation Sonore Bouton Open/Close Menu de Navigation #}
                 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  
                 {# ***** Script Carte ***** #}
                 <link href="{{asset ('style/styleCardTranslation.css')}}" rel="stylesheet"> 

             {% endblock %}
     
             {% block javascripts %}

                 {# ? Script Js #}
                 <script src="{{asset ('js/sidebar.js')}} "type="text/javascript"" "></script> 
                 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

                 {# ? Script Js: NavBarAlien #}
                 <script src="{{asset ('js/navAlien.js')}}" type="text/javascript"></script> 

                 {# ? Script Js: Animation Bouton > CHECK #}
                 <script src="{{asset ('js/animationBoutonCheck.js')}}" type="text/javascript"></script> 

                 {# ? Script Js: Barre de recherche simple #}
                 <script src="{{asset ('js/barreRechercheSimple.js')}}" type="text/javascript"></script> 
                 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

                 {# ? Script Js: Animation Loader #}
                 <script src="{{asset ('js/animationLoader.js')}}" type="text/javascript"></script> 

             {% endblock %}

         </head>

         <header>

             {% include 'partials/header.html.twig' %}

         </header>


         <body>

             {% block body %}  
             {% endblock %}

         </body>

         <footer>
               {% include 'partials/footer.html.twig' %}
         </footer>

     </html>

