 <!DOCTYPE html>

     {# 
             CREDITS: 
             NOM DU DOCUMENT : PROJET BRAVO CUISTOT
             REALISATION INFORMATIQUE : Guillaume Debucquet (_GD), Jordan Carmont (_JD), Christophe Laborde (_CL)
             DATE DE CREATION : 13/01/2021
             DATE DE DERNIERE MODIFICATION : 18/04/2021 
     #}

     <html lang="fr">
     
        <head>

             <meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, initial-scale=1">
             <meta name="author" content="Guillaume Debucquet, Jordan Carmont, Christophe Laborde">       
             <meta name="description" content="Ceci est notre projet 'Bravo Cuistot' .">

             <meta name=" Studio" content=

                 {% block metaTitle %} 
                     " PROJET BRAVO CUISTOT"
                 {% endblock %}> 

             </meta>

             <meta name="robots" content="none" />
             <link rel="icon" src="Images/logo.ico" type="image/x-icon" alt="Logo du site">

             <title>

                 {% block title %}
                      PROJET BRAVO CUISTOT 
                 {% endblock %}

             </title>
  
             {% block stylesheets %}
             
                 {# *****  Script: Bootstrap ***** #}
                 <link rel="stylesheet" href="{{ asset ('bootstrap/css/bootstrap.min.css') }}">
                 <script src="{{asset ('bootstrap/js/bootstrap.bundle.min.js')}}" ></script>
                 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
                 {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> #}

                 {# ***** Script: JS - Fonctionnalité SideBar ***** #}
                 <script src="{{asset ('js/sidebar.js')}}"></script>

                 {# ***** Style CSS Fonctionnalité SideBar ***** #}
                 <link href="{{asset ('style/style_sidebar.css')}}" rel="stylesheet">

                 {# ***** Script Css Général ***** #}
                 <link href="{{asset ('style/style.css')}}" rel="stylesheet">

                 {# ***** Script NavBarAlien ***** #}
                 <link href="{{asset ('style/style_navAlien.css')}}" rel="stylesheet">

                 {# ? Script: Animation Sonore Bouton Open/Close Menu de Navigation #}
                 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>

             {% endblock %}
     
             {% block javascripts %}

                 {# ? Script Js #}
                 <script src="{{asset ('js/sidebar.js')}} "type="text/javascript"" "></script> 
                 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

                     {# ! J'ai trouver cette animation de navBar sympa.
                     {# ! J'aimerai bien que cette barre reste accrocher en bas de l'écran! Faut que je regarde comment la fixée.
                     {# ! On pourrait par exemple y intégrer la barre de recherche et/ou d'autres truc si vosu avez des idéés  
                     {# ! JC_ 

                     {# ? Script NavBarAlien #}
                     <script src="{{asset ('js/navAlien.js')}}" type="text/javascript"></script> 

             {% endblock %}

         </head>

         <header>

             {% include 'partials/header.html.twig' %}

         </header>

         <body>

             {% block body %}
             
                 

             {% endblock %}
             {# {% include 'partials/body.html.twig' %} #}
             {# {% include 'partials/alien.html.twig' %} #}
         
         </body>

         <footer>

             {# {% include 'partials/footer.html.twig' %} #}

         </footer>

     </html>

