 {# ? Partie : Recherche avancées #}
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Recherche avancées "
     {% endblock %}

     {% block title %}
         Recherche avancées
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="text-center col-12">

                 {# ******************** #}

                 <section>
    
                     <h1> Recherche Avancées </h1>
         
                         <hr/>

                             <p> 
                                 <em> Effectuer une recherche avancée pour retrouver vos recettes préférées. </em>                                
                                 <img src="/Images/iconeRechercheAvancée.png" style="width:21px;height:21px;">
                             </p>

                         <hr/>

                 </section>
                 
                 {# ******************** #}         

                 {{ form_start(form) }}

                     <article class="flex-container4">

                         <div class="row">

                             {# ? Partie: NOM DE LA RECETTE #}

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Nom de la recette </label>

                                     <br/>

                                     {# *** INPUT *** #}
                                     {{ form_widget(form.recette,{ 
                                  
                                         'attr': {                        
                                             'class':'recette',
                                             'placeholder':'Entrez un nom de recette'          
                                         }

                                     }) }}     
                                
                                 </fieldset>    

                             </section>

                             {# ? Partie: NIVEAU DE DIFFICULTE #}

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Niveau de difficulté </label>

                                     <br/>
                             
                                     {# *** INPUT *** #}
                                     {{ form_widget(form.niveau,{ 
                                  
                                         'attr': {                        
                                             'class':'niveau',
                                             'placeholder':'Entrez un niveau de 1 à 3'       
                                         }

                                     }) }}     
                                
                                 </fieldset>    

                             </section>

                             {# ? Partie: INGREDIENTS #} 

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Choix des ingrédients </label>

                                     <br/>
                             
                                     {# *** INPUT *** #}
                                     {{ form_widget(form.ingredient,{ 
                                  
                                         'attr': {                        
                                             'class':'ingredient',
                                         }

                                     }) }}     
                                
                                 </fieldset>    

                             </section>  

                         </div>   

                         <br/>

                         {# ******************** #}  

                         <div class="row">

                             {# ? Partie: TYPE DE PLATS #}

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Type de plats </label>

                                     <br/>
                             
                                     {# *** INPUT *** #}
                                     {{ form_widget(form.plats,{ 
                                  
                                         'attr': {                        
                                             'class':'plats',
                                         }

                                     }) }}     
                                
                                 </fieldset>

                             </section>

                             {# ? Partie: TYPE D'ALIMENTATION #} 

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Type d'alimentation </label>

                                     <br/>
                             
                                     {# *** INPUT *** #}
                                     {{ form_widget(form.alimentation,{ 
                                  
                                         'attr': {                        
                                             'class':'alimentation',
                                         }

                                     }) }}     
                                
                                 </fieldset>    

                             </section>     

                             {# ? Partie: TYPE DE CUISSON #} 

                             <section class="col-sm-4">

                                 <fieldset>
                             
                                     {# *** LABEL *** #}
                                     <label> Type de cuisson </label>

                                     <br/>
                             
                                     {# *** INPUT *** #}
                                     {{ form_widget(form.cuisson,{ 
                                  
                                         'attr': {                        
                                             'class':'cuisson',
                                         }

                                     }) }}     
                                
                                 </fieldset>    

                             </section> 

                         </div>   

                     </article>

                     {# ******************** #}  

                     <hr/>

                     <div>

                         <button class="btn btn-success col-12 btn-lg ">
                             {{ button_label|default('Rechercher') }} &nbsp
                                 {# <img src="https://img.icons8.com/fluent/50/000000/search-property.png"/> #}
                                 {# <img src="https://img.icons8.com/fluent/50/000000/search-in-cloud.png"/> #}
                                 <img src="https://img.icons8.com/officel/40/000000/search--v2.png"/>    
                         </button>
                        
                     </div>

                 {{ form_end (form)}}    

                 {# ******************** #}

             <div/>      

         </main>

     {% endblock %}   

                    


