 {# ? Partie : Recherche avancées #}
 
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Recherche avancées "
     {% endblock %}

     {% block title %}
         Recherche avancées
     {% endblock %}
     
     {% block body %}

         <main class="Form">  

             <div class="text-center col-12">

                 {# *********************************************** #}

                 <section>
    
                     <h1> Recherche Avancées </h1>
         
                         <hr/>

                             <p> 
                             
                                 <em> Effectuer une recherche avancée pour retrouver vos recettes préférées. </em>                                
                                 <img src="/Images/iconeRechercheAvancée.png" style="width:21px;height:21px;">
                                  
                             </p>

                         <hr/>

                 </section>
                 
                 {# *********************************************** #}   

                 {# <article> #}

                     {# <div class="flex-container"> #}

                         {# ***** Bloc de Gauche ***** #}  

                         {# <section class="flex-item-left"> 
                    
                             <form method="post" action="traitement.php"> 

                                 <fieldset>

                                     <label for="rechercheParNomRecette"> Nom de la recette  </label>

                                     <input id="rechercheInputStyle" 
                                         type="search" 
                                         name="rechercheParNomRecette"                                              
                                         placeholder=" Ex: Tarte au pomme, etc... " 
                                         size="34"
                                         maxlength="10"/>

                                     <br/>

                                 </fieldset>                 

                             </form>

                         </section>    #}

                         {# ***** Bloc du milieu ***** #}   

                         {# <section class="flex-item-right"> 
               
                             <form method="post" action="traitement.php">

                                 <fieldset>  
            
                                     <label for="rechercheParTypeDePlat"> Type de plat 🍸 </label>

                                     <input id="rechercheInputStyle" 
                                         type="search" 
                                         name="rechercheParTypeDePlat"                                              
                                         placeholder=" Ex: Entrée, Desserts, etc ... " 
                                         size="34"
                                         maxlength="10"/>    
                                                                       
                                     <br /> 

                                 </fieldset>
                 
                             </form>      

                         </section>   #}

                     {# </div>  #}
                    
                     {# <div class="flex-container"> #}

                         {# ***** Bloc de Droite ***** #}  

                         {# <section class="flex-item-left">

                             <form method="post" action="traitement.php">

                                 <fieldset>

                                     <label for="rechercheParIngrédient"> Ingrédient 🍄 </label>

                                     <input id="rechercheInputStyle" 
                                         type="search" 
                                         name="rechercheParIngrédient"                                              
                                         placeholder=" Ex: Tiramisu, Fraise, etc... " 
                                         size="34"
                                         maxlength="10"/>

                                     <br/>

                                 </fieldset>   

                             </form>

                         </section>    #}

                         {# ***** Bloc de Gauche ***** #}  
                     
                         {# <section class="flex-item-right">

                             <form method="post" action="traitement.php">

                                 <fieldset>

                                     <label for="rechercheParTypeAlimentation"> Type d'alimentation 🍲 </label>

                                     <input id="rechercheInputStyle" 
                                         type="search" 
                                         name="rechercheParTypeAlimentation"                                              
                                         placeholder=" Ex: Omnivore, etc... " 
                                         size="34"
                                         maxlength="10"/>

                                     <br/>

                                 </fieldset>   

                             </form>

                         </section>  #}

                     {# </div>  #}

                     {# <div class="flex-container"> #}

                         {# ***** Bloc du milieu ***** #}   

                         {# <section class="flex-item-right">

                             <form method="post" action="traitement.php">

                                 <fieldset>

                                     <label for="rechercheParTypeDeCuisson"> Type de cuisson 🔥 </label>

                                     <input id="rechercheInputStyle" 
                                         type="search" 
                                         name="rechercheParTypeDeCuisson"                                              
                                         placeholder=" Ex: Vapeur, etc... " 
                                         size="34"
                                         maxlength="10"/>

                                     <br/>

                                 </fieldset>     

                             </form>

                         </section>   #}
                         
                         {# ***** Bloc de Droite ***** #}  

                         {# <section class="flex-item-left">

                             <form method="post" action="traitement.php">

                                 <fieldset>

                                     <label for="rechercheParNiveauDifficulté">
                                         Difficulté (entre 0 et 3):
                                         <img src="/Images/toqueDificulte.png"> 
                                     </label>

                                     <input type="range"
                                             id="rechercheInputStyle" 
                                             name="rechercheParNiveauDifficulté"  
                                             placeholder=" Nombre d'étoiles " 
                                             size="34"
                                             maxlength=""
                                             min="0"
                                             max="3"
                                             step="" />    
                                                                       
                                     <br />  

                                 </fieldset>     

                             </form>

                         </section>   #}

                     {# </div>  #}
 
                 {# *********************************************** #}   

                 {# </article> #}

                 {# *********************************************** #}  

                 {{ form_label(form) }}

                 {{ form_end(form) }}

                 {# *********************************************** #}  

                 <hr/>

                  {{ form_start (form)}}

                     <div>

                         <button class="btn btn-dark col-12 btn-lg ">
                             {{ button_label|default('Soumettre') }}
                         </button>
                        
                     </div>

                 {{ form_end (form)}}    

                 {# *********************************************** #}

             <div/>      

         </main>

     {% endblock %}   

                     {# 

                         <hr class="dividerMini"/>

                     #}

                     {# 

                         <p>

                             <input type="number" 
                                 name="nombreEtoiles" 
                                 id="pseudo" 
                                 placeholder=" Nombre d'étoiles " 
                                 size="34"
                                 maxlength="10" /> 

                         </p> 

                     #}

                     {#
                     
                         <div class="col-6">

                             <p> Difficulté: 

                                 {% if recette.Difficulte == 1 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% elseif recette.Difficulte == 2 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% elseif recette.Difficulte == 3 %}

                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">
                                     <img src="{{asset("Images/toqueDificulte.png")}}">

                                 {% else %}

                                     something went wrong ! 

                                 {% endif %}

                             </p>

                         </div>
                         
                     #}

                

                 {# *********************************************** #}
         
                     {# <input type="number" />         

                     <br/> #}

                     {# <textarea name="ameliorer" id="ameliorer" rows="10" cols="50"> </textarea> #}

                 {# *********************************************** #}


         {#
             <style>
             .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
             .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
             </style>
         #}
         

         {#    
             <div class="example-wrapper">

                 <h1> Hello {{ controller_name }}! ✅ </h1>
             
                 This friendly message is coming from:

                 <ul>
                     <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/bravo_cuistot/src/Controller/RechercheController.php'|file_link(0) }}">src/Controller/RechercheController.php</a></code></li>
                     <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/bravo_cuistot/templates/recherche/index.html.twig'|file_link(0) }}">templates/recherche/index.html.twig</a></code></li>
                 </ul>

             </div> 
         #}

 