 
     {{ form_start(form) }}

         <article class="flex-container3">

             <hr/>
 
             {# ********** NOM ********** #}

             <section>

                 {# *** LABEL *** #}
                 {# {{ form_label(form.content) }} #}
                 <label> Contenu </label>
             
                 {# *** INPUT *** #}
                 {{ form_widget(form.content,{ 
                             
                     'attr': { 
                             
                     'class':'content',
                     'placeholder':'Entrer votre commentaire '
                     
                     }}) }}  
             
             </section>

             <hr/>    

         </article> 

         {{ form_widget(form) }}
 
             <button class="btn col-12 btn-dark btn-lg px-4">
                 {{ button_label|default('Sauvegarder') }}
             </button>
 
     {{ form_end(form) }}
 
     