{# ? Feuille du Show > User #ModeAdmin #}
      
     {{ form_start(form) }}
     
             <div class="Form">                 

                 {# <article class="text-center"> #}

                     <div class="row">

                         {# **************************** LOGIN ***************************** #}

                             <section class="col-6">

                                 {# *** LABEL *** #}
                                 {{ form_label(form.login) }}
                             
                                 {# *** INPUT *** #}
                                 {{ form_widget(form.login) }}
                             
                             </section>
                         
                         {# **************************** PASSWORD ************************** #}

                             <section class="col-6">
                             
                                 {#{{ form_label(form.plainPassword) }}#}
                             
                                 <label> Mot de passe </label>
                 
                                 {{ form_widget(form.plainPassword,{ 
                             
                                     'attr':{ 
                             
                                     'class':'inputEmail' }}) }}     
                             
                             </section>

                     </div>         
                         
                         {# **************************** ROLES ************************** #}
 
                     <div class="row">

                             <section class="col-6">

                                 {# <label> Roles </label> #}
                             
                                 {# *** LABEL *** #}
                                 
                                 <label>
                                     {{ form_label(form.roles) }}
                                 </label>
                             
                                 {# *** INPUT *** #}

                                         {{ form_widget(form.roles) }}
                                    
                             </section>
                    
                         {# **************************** PASSWORD ************************** #}

                             <section class="col-6">
                             
                                 {# *** LABEL *** #}
                                 {{ form_label(form.email) }}
                             
                                  {# *** INPUT *** #}
                                 {{ form_widget(form.email) }}
                             
                             </section>
 
                     </div>  

                         {# **************************** AVATAR ************************** #}

                     <div class="row">

                             <section class="col-6">
                             
                                 {# *** LABEL *** #}
                                 {{ form_label(form.avatar) }}
                             
                                  {# *** INPUT *** #}
                                 {{ form_widget(form.avatar) }}
                             
                             </section>

                     </div> 
  
                     <hr style="color:white;"/>
  
                     <button class="btn btn-success col-12  btn-lg px-4 gap-3">
                         {{ button_label|default('Sauvegarder') }}
                     </button>
          
     {{ form_end(form) }}


 {#  ? TEST / CODE VRAC #}
                                  

                                    {# <select class="form-control">

                                 {% for choices in form.roles.vars.choices %} 

                                     {{dump(choices)}}  #}

                                     {# {% endfor %} #}

                                     {# {% set selected = '' %} #}

                                         {# {% if (oneSupervisor.fname ~ ' ' ~ oneSupervisor.lname) == user.supervisor %} #}

                                             {# {% set selected = 'selected' %}

                                         {% endif %} 
                                 
                               
                                         <option 
                                             value="{{oneSupervisor.fname}} 
                                                     {{oneSupervisor.lname}}"
                                                     {{ selected }}>
                                                         {{oneSupervisor.fname}} 
                                                         {{oneSupervisor.lname}}
                                         </option>
                                  
                                     {% endfor %}
                                     
                             </select>    #}
