
 {% extends 'base.html.twig' %}
 
     {% block metaTitle %}
         " Mise à jour profil "
     {% endblock %}
 
     {% block title %} 
         Mise à jour Profil
     {% endblock %}
     
     {% block body %}

         {# <main class="form-signin"> #}
         <main class="Form">

             <div class="text-center col-12">

                 {# *********************************************** #}

                 {{ form_start (form, 
                     { 'attr':
                         {
                             'class':'needs-validation',
                             'novalidate':''
                         }
                     })
                 }}   

                 <form>    

                     <div id="inscriptionForm">  

                         {# *********************************************** #}

                         <section>
    
                             <h1> Formulaire de profil </h1>
         
                                 <hr/>

                                     <p> 
                                         <em> Modifiez votre profil. </em>  📇 
                                     </p>

                                 <hr/>

                         </section>

                         {# **************************************************************** #}
                      
                         {# <div id="profileForm"> #}
                         <article class="flex-container4">

                             <div class="row">

                                 {# ? AVATAR #}
 
                                 <section class="col-12 col-xl-6"> 

                                     {{form_label(form.avatar, ' Photo de profil')}}
                                         {{form_widget
                                             (form.avatar,
                                                 {
                                                     'attr': { 'class':'form-control', }
                                                 }
                                             ) 
                                         }}
                           
                                 </section>

                                 {# ? ADRESSE EMAIL #}
                                
                                 <section class="col-sm-6">
                                   
                                     {# *** LABEL *** #}
                                     {{form_label (form.email, 'Adresse email' ) }}
                                    
                                     <div class="input-group has-validation">
                                       
                                         <span class="input-group-text"> @ </span>
                                       
                                         {# *** INPUT *** #}
                                         {{form_widget
                                             (form.email,
                                                 {
                                                     'attr': {'placeholder':'Entrez votre adresse email',
                                                     'class':'form-control',
                                                     }
                                                 }
                                             ) 
                                         }}
                                        
                                         {# *** IF ERROR *** #}
                                         <div class="invalid-feedback">
                                             Le champ email est requis.
                                             {{form_errors(form.email)}}
                                         </div>
                                  
                                     </div>
                                  
                                     <span class="text-danger">
                                         {{ form_errors (form.email) }} 
                                     </span>
                             
                                 </section>
                              
                             </div>

                             <div class="row"> 

                                 {# ? PASSWORD #}

                                 <section class="col-sm-6">
                                   
                                     {# *** LABEL *** #}
                                     {{form_label (form.plainPassword.first, 'Mot de passe' ) }}
                                 
                                     <div class="input-group has-validation">
 
                                         <span class="input-group-text"> <i class="bi bi-key"></i> </span>
 
                                         {# *** INPUT *** #}
                                         {{form_widget
                                             (form.plainPassword.first,
                                                 {'attr':
                                                     {
                                                         'placeholder':'Entrez votre mot de passe',
                                                         'class':'form-control',
                                                     }
                                                 }
                                             ) 
                                         }}
 
                                         {# *** IF ERROR *** #}
                                         <div class="invalid-feedback">
                                            Le champ mot de passe est requis.
                                            {{form_errors(form.plainPassword.first)}}
                                         </div>
 
                                     </div>
  
                                     <span class="text-danger"> 
                                         {{ form_errors (form.plainPassword.first) }} 
                                     </span>
                                                          
                                 </section>
 
                                 {# ? PASSWORD CONFIRMATION #}
 
                                 <section class="col-sm-6">
                                    
                                     {# *** LABEL *** #}
                                     {{form_label (form.plainPassword.second, 'Confirmer votre mot de passe' ) }}
 
                                     <div class="input-group has-validation">

                                         <span class="input-group-text"> <i class="bi bi-key"></i> </span>
 
                                         {# *** INPUT *** #}
                                         {{form_widget
                                             (form.plainPassword.second,
                                                 {
                                                     'attr': {'placeholder':'Confirmer votre mot de passe',
                                                     'class':'form-control',
                                                     }
                                                 }
                                             ) 
                                         }}

                                         {# *** IF ERROR *** #}
                                         <div class="invalid-feedback">
                                             Le champ confirmer votre mot de passe est requis.
                                             {{form_errors(form.plainPassword.second)}}
                                         </div>
 
                                     </div>
 
                                     <span class="text-danger"> 
                                         {{ form_errors (form.plainPassword.second) }} 
                                     </span>
                                                                                        
                                 </section>

                                 <hr/>

                                 {# ? ACTION #}
                        
                                 <div class="btn-group-vertical">
                          
                                     <button class="btn col-12 btn-success btn-lg px-4">
                                        {{ button_label|default('Sauvegarder') }}
                                     </button>
                                
                                 </div>

                             </div>     
                   
                         </article> 

                     </div>     
                    
                 </form>

                 {{ form_end(form) }}

             </div>      
        
         </main>
   
     {% endblock %}
